<%= content_for :link_overlay do %>
  <a href="#" class="background-link disabled"></a>
<% end %>
<div class="section-head students">
  <div class="overlay">
  </div><div class="gradient">
  </div>
  <div class="horizontal-gradient">
  </div>
  <div class="content">
    <%= image_tag "students-black.png", :class => "icon" %>
    <h1>STUDENT PITCHES</h1>
    <p>Watch Draper University students pitch their startups to a panel of Silicon Valley VC and startup executives. Students also talk about their experience at Draper University in testimonial videos.</p>
  </div>
  <div class="image"></div>
</div>

<div class="sort-bar">
  <div class="action-icon expanded teal-item show-notify-modal">
    <%= image_tag "notify-icon.svg", :class => "notify-icon svg" %>
    <p>Notify Me</p>
  </div>
  <div class="sort-options">
    <div class="sort-label">Sorted By:</div>

    <div class="dropdowns">
      <div class="order-sort sorter">
        <p>Newest</p >
        <%= image_tag "dropdown-triangle.svg", :class => 'open-dropdown' %>
        <ul class="sort-dropdown">
          <li class="current" data-sort-criteria="created_at" data-sort-direction="desc">Newest</li>
          <li data-sort-criteria="created_at" data-sort-direction='asc'>Oldest</li>
          <li data-sort-criteria="speaker" data-sort-direction='asc'>Speaker A-Z</li>
          <li data-sort-criteria="speaker" data-sort-direction='desc'>Speaker Z-A</li>
          <li data-sort-criteria="view_count" data-sort-direction='desc'>Most Viewed</li>
        </ul>
      </div>
      <div class="industry-sort sorter">
        <p>All Sessions</p>
        <%= image_tag "dropdown-triangle.svg", :class => 'open-dropdown' %>
        <ul class="sort-dropdown">
          <li class="current">All Sessions</li>
          <% Session.all.each do |session| %>
            <li><%= session.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<section class="media-container index-view">
  <div class="media-list">
    <div class="media-thumbnails wrap lazy-load sortable">
          <!-- Content loaded in with ajax  -->
    </div>
    <div id="load-more" offset="0">
      Show More
    </div>
  </div>
</section>

<script>
  $(document).ready(function() {
    var height = $('footer').height()
    $('.media-container').css('min-height', 'calc(100vh - 130px - ' + height + 'px)')
  })    
</script>
