<div id="stripe_error" class="alert alert-error" style="display:none" >
</div>
<section id="content" class="m-t-lg wrapper-md animated fadeInUp">
  <div class="container aside-xl">
    <a class="navbar-brand block" href="<%= root_path %>"><span class="h1 font-bold">Draper<i>TV</i></span></a>
    <section class="m-b-lg">
      <header class="wrapper text-center">
        <strong>Sign in to get in touch</strong>
        <%# Rails flash messages styled for Bootstrap 3.0 %>
        <% flash.each do |name, msg| %>
          <% if msg.is_a?(String) %>
            <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <%= content_tag :div, msg, :id => "flash_#{name}" %>
            </div>
          <% end %>
        <% end %>
      </header>
      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'card_form form-vertical' }) do |f| %>
        <%= hidden_field_tag 'plan', 'free' %>
        <%= f.error_notification %>
        <%= display_base_errors resource %>
        <div class="form-group">
          <%= f.input :email, required: true, autofocus: true, input_html: { class: 'form-control rounded input-lg text-center no-border'} %>
        </div>
        <div class="form-group">
          <%= f.input :name, required: true, autofocus: true, input_html: { class: 'form-control rounded input-lg text-center no-border'} %>
        </div>
        <fieldset>
          <div class="form-group">
            <%= f.input :password, required: true, input_html: { class: 'form-control rounded input-lg text-center no-border' } %>
          </div>
          <div class="form-group">
            <%= f.input :password_confirmation, required: true, input_html: { class: 'form-control rounded input-lg text-center no-border'} %>
          </div>
        </fieldset>
        <%= f.hidden_field :stripe_token %>
        <button type="submit" class="btn btn-lg btn-warning lt b-white b-2x btn-block btn-rounded"><i class="icon-arrow-right pull-right"></i><span class="m-r-n-lg">Sign Up</span></button>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </section>
</section>
