<table cellspacing="0" cellpadding="0" border="0" width="100%" height="20%" style="max-height: 220px">
    <tr>
        <td width="15%" height="100%" style="background: #246DB4;" ></td>
        <td width="70%" height="100%"> 
            <img src="http://www.drapertv.com/assets/Email-header.png" height="100%" width="100%" style="max-height: 220px;">
        </td>
        <td width="15%" height="100%" style="background: #246DB4;"></td>
    </tr>
</table>

<table cellspacing="0" cellpadding="0" border="0" width="100%" height="100%" style="font-family:proxima nova, helvetica neue, helvetica; font-size:16px; line-height:2; margin:0 0 0 0;">
    <tr>
        <td width="15%" height="100%" style="background: #246DB4;"></td>
        <td width="70%" height="100%">
            <table style="background: white;" cellspacing="0" cellpadding="0" border="0" width="100%" height="100%">
                <tr height="35"></tr>
                <tr>
                    <td width="40" height="100%"></td>
                    <td width="470" height="100%" style="vertical-align:top;">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="border-left: 10px solid white;border-right: 10px solid white;color: black;">
    
                            <tr height="50">
                                <td width="100%" height="50">
                                    <p>
                                        <span style="font-weight: 600; line-height: 1.5;">Thanks to you, DraperTV v2.0 is here!</span><br>
                                        There’s a whole slew of new features, new drool-worthy content, and a brand spankin’ new UI design thanks to all your feedback from the beta.
                                    </p>     
                               
                                </td>         
                            </tr>
                            <tr height="40"></tr>
                            
                            <tr height="46">
                                <td height="46">
                                    <table width="100%" height="100%" cellspacing="0" cellpadding="0">     
                                        <tr>
                                            <td width="80">
                                                <div style="height: 1px;border-bottom: 1px solid #dadada;">
                                                </div>
                                            </td>
                                            <td width="38"></td>
                                            <td width="234" style="border-radius: 5px; background: #246DB4;color: white;text-align: center;"> <a href="http://drapertv.com" style="color: white;text-decoration: none;"><p style="font-family:proxima nova, helvetica neue, helvetica; font-size:16px; line-height:1.1; margin:0 0 0 0;"> See DraperTV v2.0 Now!</p></a></td>
                                            <td width="38"></td>
                                            <td width="80">
                                                <div style="height: 1px;border-bottom: 1px solid #dadada;">
                                                </div>
                                            </td>
                                        </tr>                                                                         
                                    </table> 
                                </td>
                            </tr>
                            
                 
                            <tr height="40"></tr>
                    
                            <tr height="17">
                                <td>
                                    <p style="font-weight: 600;font-family:proxima nova, helvetica neue, helvetica; font-size:16px; line-height:1.1; margin:0 0 0 0;">Top new content:</p>
                                </td>
                            </tr>
                            
                            <tr height="15"></tr>

                            <tr height="152" style="font-size: 12px;">
                                <td height="152">
                                    <table width="100%" height="100%" cellspacing="0" cellpadding="0" style="font-size: 12px;">
                                        <tr>
                                            <td width="50%" style="text-align: left;">
                                                <%= image_tag "http://www.drapertv.com/assets/nate.png", height: "auto", width: "100%", style: "height: auto;width: calc(100% - 10px)" %>
                                            </td>
                                            <td width="50%" style="text-align: right;">
                                                <%= image_tag "http://www.drapertv.com/assets/michelle.png", height: "auto", width: "100%", style: "height: auto;width: calc(100% - 10px)" %>
                                            </td>
                                        </tr>
                                        <tr height="10">
                                        </tr>
                                        <tr height="14">
                                            <td width="50%" style="font-weight: 600;text-align: left;">NATE BLECHARCZYK
</td>
                                            <td width="50%" style="font-weight: 600;padding-left: 10px">MICHELLE PHAN</td>
                                        </tr>
                                        <tr height="14">
                                            <td width="50%" style="">Cofounder and CTO of Airbnb</td>
                                            <td width="50%" style="padding-left: 10px;">Youtube celebrity and makeup mogul</td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>

                            <tr height="15"></tr>

                            <tr height="152" style="font-size: 12px;">
                                <td height="152">
                                    <table width="100%" height="100%" cellspacing="0" cellpadding="0" style="font-size: 12px;">
                                        <tr>
                                            <td width="50%" style="text-align: left;">
                                                <%= image_tag "http://www.drapertv.com/assets/dan.png", height: "auto", width: "100%", style: "height: auto;width: calc(100% - 10px)" %>
                                            </td>
                                            <td width="50%" style="text-align: right;">
                                                <%= image_tag "http://www.drapertv.com/assets/rodrigo.png", height: "auto", width: "100%", style: "height: auto;width: calc(100% - 10px)" %>
                                            </td>
                                        </tr>
                                        <tr height="10">
                                        </tr>
                                        <tr height="14">
                                            <td width="50%" style="font-weight: 600;text-align: left;">DAN PRICE</td>
                                            <td width="50%" style="font-weight: 600;padding-left: 10px">RODRIGO BARROS</td>
                                        </tr>
                                        <tr height="14">
                                            <td width="50%" style="">The $70,000 CEO</td>
                                            <td width="50%" style="padding-left: 10px;">You haven't seen passion like Rodrigo</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr height="20"></tr>

                             <tr height="17">
                                <td>
                                    <p style="font-weight: 600;font-family:proxima nova, helvetica neue, helvetica; font-size:16px; line-height:1.1; margin:0 0 0 0;">Top new features:</p>
                                </td>
                            </tr>

                            <tr height="15"></tr>



                            <tr height="152" style="font-size: 12px;">
                                <td height="152">
                                    <table width="100%" height="100%" cellspacing="0" cellpadding="0" style="font-size: 12px;">
                                        <tr>
                                            <td width="50%" style="text-align: center;">
                                                
                                                <%= image_tag "http://www.drapertv.com/assets/open-site.png", height: "100", width: "100", style: "border-radius: 50%;" %>
                                            </td>
                                            <td width="50%" style="text-align: center;">
                                                <%= image_tag "http://www.drapertv.com/assets/topics.png", height: "100", width: "100", style: "border-radius: 50%;" %>
                                            </td>
                                        </tr>
                                        <tr height="10">
                                        </tr>
                                        <tr>
                                            <td width="50%" style="text-align: center;font-weight: 600;">OPEN SITE</td>
                                            <td width="50%" style="text-align: center;font-weight: 600;">TOPICS</td>
                                        </tr>
                                        <tr>
                                            <td width="50%" style="text-align: center;">No more accounts, fully open to the public and shareable. All for free.</td>
                                            <td width="50%" style="text-align: center;">Better organized, more detailed. Get to what you need, stat!</td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>
                            <tr height="15"></tr>

                            <tr height="152" style="font-size: 12px;">
                                <td height="152">
                                    <table width="100%" height="100%" cellspacing="0" cellpadding="0" style="font-size: 12px;">
                                        <tr>
                                            <td width="50%" style="text-align: center;">
                                                <%= image_tag "http://www.drapertv.com/assets/camera.png", height: "100", width: "100", style: "border-radius: 50%;" %>
                                            </td>
                                            <td width="50%" style="text-align: center;">
                                                <%= image_tag "http://www.drapertv.com/assets/mobile-first.png", height: "100", width: "100", style: "border-radius: 50%;" %>
                                            </td>
                                        </tr>
                                        <tr height="10">
                                        </tr>
                                        <tr>
                                            <td width="50%" style="text-align: center;font-weight: 600;">LIVESTREAMS + TWITTER</td>
                                            <td width="50%" style="text-align: center;font-weight: 600;">MOBILE-FIRST</td>
                                        </tr>
                                        <tr>
                                            <td width="50%" style="text-align: center;">Like being at Draper U, but in your jammies.</td>
                                            <td width="50%" style="text-align: center;">DraperTV on the go! Now you can entrepreneur while you entrepreneur.</td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>
                            
                            <tr height="40"></tr>

                            <tr height="46">
                                <td height="46">
                                    <table width="100%" height="100%" cellspacing="0" cellpadding="0">     
                                        <tr>
                                            <td width="80">
                                                <div style="height: 1px;border-bottom: 1px solid #dadada;">
                                                </div>
                                            </td>
                                            <td width="38"></td>
                                            <td width="234" style="border-radius: 5px; background: #246DB4;color: white;text-align: center;"> <a href="http://drapertv.com" style="color: white;text-decoration: none;"><p style="font-family:proxima nova, helvetica neue, helvetica; font-size:16px; line-height:1.1; margin:0 0 0 0;"> See DraperTV v2.0 Now!</a></p></td>
                                            <td width="38"></td>
                                            <td width="80">
                                                <div style="height: 1px;border-bottom: 1px solid #dadada;">
                                                </div>
                                            </td>
                                        </tr>                                                                         
                                    </table> 
                                </td>
                            </tr>

                            <tr height="40"></tr>

                            <tr>
                                <td>
                                    <p>
                                        <span style="font-weight: 600;">We hope you love this new update</span><br>
                                        As usual, shoot us any questions, feedback, or just say "hi", at<br> <a href="support@draperuniversity.com" style="color: #35B3DE;">support@drapertv.com</a>
                                    </p>
                                </td>
                            </tr>

                            <tr height="15"></tr>

                            <tr>
                                <td>
                                    <p>
                                       <span style="font-weight: 600;"> Ready, set, startup!</span>
                                    </p>
                                </td>
                            </tr>

                            <tr height="15"></tr>

                            <tr>
                                <td>
                                    <p>
                                        <span style="font-weight: 600;">Team Draper TV</span><br>
                                        made by - Andy, Hubert, Kenneth, Lorenzo, and Mitchel
                                    </p>
                                </td>
                            </tr>

                            <tr height="15"></tr>

                            <tr>
                                <td>
                                    <p style="font-size: 12px;">
                                        DraperTV is a product of <a href="http://www.draperuniversity.com" style="color: #35B3DE;">Draper University</a>
                                    </p>
                                </td>
                            </tr>

                            <tr height="30"></tr>

                            <tr>
                                <td>
                                    <p style="color: #a5a5a5;">
                                        <span style="font-weight: 600;font-size: 14px">Full list of Updates</span><br>
                                        <span style="font-size: 14px">The team has been working hard to bring you this full list of changes:</span><br>
                                    </p>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table style="font-size: 10px;color: #a5a5a5;">
                                        <tr>
                                            <td width="30" style="text-align: center;">1.</td>
                                            <td>New Logo!</td>
                                        </tr>
                                        <tr>
                                            <td width="30" style="text-align: center;">2.</td>
                                            <td>Open Site - no accounts needed, completely shareable</td>
                                        </tr>
                                        <tr>
                                            <td width="30" style="text-align: center;">3.</td>
                                            <td>Mobile-first - take DTV on the go!</td>
                                        </tr>
                                        <tr>
                                            <td width="30" style="text-align: center;">4.</td>
                                            <td>Home - getting you started</td>
                                        </tr>
                                        <tr>
                                            <td width="30" style="text-align: center;">5.</td>
                                            <td>Topics - get to what you need, stat!</td>
                                        </tr>
                                        <tr>
                                            <td width="30" style="text-align: center;">6.</td>
                                            <td>Improved Search - find your content</td>
                                        </tr>
                                        <tr>
                                            <td width="30" style="text-align: center;">7.</td>
                                            <td>Improved Series - easier to use and prettier</td>
                                        </tr>
                                        <tr>
                                            <td width="30" style="text-align: center;">8.</td>
                                            <td>Infinite Scroll - cause it’s cool</td>
                                        </tr>
                                        <tr>
                                            <td width="30" style="text-align: center;">9.</td>
                                            <td>Livestreams + Twitter - see our top speakers Live, and get a chance to be part of the conversation, from wherever you are</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr height="15"></tr>

                            <tr>
                                <td>
                                    <p style="color: #a5a5a5;">
                                        <span style="font-size: 14px;">And new additions to our lineup of amazing speakers:</span><br>
                                        Livestreams:<br>
                               
                                    </p>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table style="font-size: 10px;color: #a5a5a5;">
                                        <tr>
                                            <td width="30" style="text-align: center;">1.</td>
                                            <td>Sabeen Ali - <span style="font-weight: 600;">AngelHack</span> (Founder & CEO)</td>
                                        </tr>
                                        <tr>
                                            <td width="30" style="text-align: center;">2.</td>
                                            <td>Nate Blecharczyk - <span style="font-weight: 600;">Airbnb</span> (Co-Founder & CTO)</td>
                                        </tr>
                                        <tr>
                                            <td width="30" style="text-align: center;">3.</td>
                                            <td>John Zimmer - <span style="font-weight: 600;">Lyft</span> (Co-Founder & President)</td>
                                        </tr>
                                        <tr>
                                            <td width="30" style="text-align: center;">4.</td>
                                            <td>Justin Kan - <span style="font-weight: 600;">Twitch</span> (Co-Founder & CEO)</td>
                                        </tr>
                                        <tr>
                                            <td width="30" style="text-align: center;">5.</td>
                                            <td>Eric Migicovsky - <span style="font-weight: 600;">Pebble</span> (Founder & CEO)</td>
                                        </tr>
                                        <tr>
                                            <td width="30" style="text-align: center;">6.</td>
                                            <td>Jennifer Hyman - <span style="font-weight: 600;">Rent the Runway</span> (Co-Founder & CEO)</td>
                                        </tr>
                                        <tr>
                                            <td width="30" style="text-align: center;">7.</td>
                                            <td>Amr Awadallah - <span style="font-weight: 600;">Cloudera</span> (Founder & CTO)</td>
                                        </tr>
                                        <tr>
                                            <td width="30" style="text-align: center;">8.</td>
                                            <td>Will Young - <span style="font-weight: 600;">Zappos Labs</span> (Director)</td>
                                        </tr>
                                        <tr>
                                            <td width="30" style="text-align: center;">9.</td>
                                            <td>Daphne Koller - <span style="font-weight: 600;">Coursera</span> (Co-Founder & President)</td>
                                        </tr>
                                        <tr>
                                            <td width="30" style="text-align: center;">10.</td>
                                            <td>Max Ventilla - <span style="font-weight: 600;">AltSchool</span> (Founder & CEO)</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr height="15"></tr>
                            
                            <tr>
                                <td>
                                    <p style="font-size: 14px;color: #a5a5a5;">
                                        Series:
                                    </p>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table style="font-size: 10px;color: #a5a5a5;">
                                        <tr>
                                            <td width="30" style="text-align: center;">1.</td>
                                            <td width="84">Michelle Phan</td>
                                            <td width="30" style="text-align: center;">6.</td>
                                            <td width="84">Dan Price</td>
                                            <td width="30" style="text-align: center;">11.</td>
                                            <td width="84">Rodrigo Barros</td>
                                            <td width="30" style="text-align: center;">16.</td>
                                            <td width="84">Lyndon Rive</td>
                                        </tr>
                                        <tr>
                                            <td width="30" style="text-align: center;">2.</td>
                                            <td width="84">Michael Seibel</td>
                                            <td width="30" style="text-align: center;">7.</td>
                                            <td width="84">Alisa Cordesius</td>
                                            <td width="30" style="text-align: center;">12.</td>
                                            <td width="84">Radu Rasu</td>
                                            <td width="30" style="text-align: center;">17.</td>
                                            <td width="84">Ken Goldman</td>
                                        </tr>

                                        <tr>
                                            <td width="30" style="text-align: center;">3.</td>
                                            <td width="84">Josh Kaplan</td>
                                            <td width="30" style="text-align: center;">8.</td>
                                            <td width="84">Scott Cook</td>
                                            <td width="30" style="text-align: center;">13.</td>
                                            <td width="84">Christine Sublett</td>
                                            <td width="30" style="text-align: center;">18.</td>
                                            <td width="84">Chris Barton</td>
                                        </tr>
                                        <tr>
                                            <td width="30" style="text-align: center;">4.</td>
                                            <td width="84">Reena Jadhav</td>
                                            <td width="30" style="text-align: center;">9.</td>
                                            <td width="84">Dave Austin</td>
                                            <td width="30" style="text-align: center;">14.</td>
                                            <td width="84">Patrick Mathieson</td>
                                            <td width="30" style="text-align: center;">19.</td>
                                            <td width="84">Gleb Budman</td>
                                        </tr>
                                        <tr>
                                            <td width="30" style="text-align: center;">5.</td>
                                            <td width="84">Scott Cook</td>
                                            <td width="30" style="text-align: center;">10.</td>
                                            <td width="84">Matt Kaufman</td>
                                            <td width="30" style="text-align: center;">15.</td>
                                            <td width="84">Nate Blecharczyk</td>
                                            <td width="30" style="text-align: center;">20.</td>
                                            <td width="84">Tim Draper</td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>

                            <tr height="30"></tr>
                        </table>


              
                     </td>         
                    <td width="40" height="100%"></td>           
                </tr>        
            </table>   
        </td>
        <td width="15%" height="100%" style="background: #246DB4;"></td>
    </tr>
</table>