<% @comment_user = User.find_by_id(comment.user_id) %>

  <article id="comment-id-<%=  comment.id %>" class="comment-item">

    <a class="pull-left thumb-sm">
      <img src="<%= @comment_user.avatar.url(:thumb).to_s %>" class="img-circle">
    </a>

    <section class="comment-body m-b">

      <header>
        <a href="#"><strong><%=  @comment_user.name %></strong></a>
        <label class="label bg-info m-l-xs">Duck In Charge</label>
        <span class="text-muted text-xs block m-t-xs">
          <%= comment.created_at.to_date.to_formatted_s( :long_ordinal ) %>
        </span>
      </header>


      <div class="m-t-sm">
      	<%=  comment.content %>
      </div>

    </section>
    
  </article>
