<div id="comment_form" class="">
  <%= simple_form_for @commentable.comment_form_path, :remote => true do |f| %>
    <div id="comment-box">
      <%= image_tag current_user.avatar_url(:thumb), :class => 'comment-pic' %>
      <%= f.input :content, label: false, :placeholder => "Share your thoughts...", :input_html => { :id => "comment-#{@commentable.id}", :class => "comment-input" } %>
      <% if parent_id %>
      	<%= f.hidden_field :parent_id, value: parent_id %>
      <% end %>
    </div>
    <%= f.submit "Post", id: "post-comment" %>
  <% end %>
</div>