<div id="comment_form" class="<%= 'challenge-comment-form' if @commentable.class == Challenge && !parent_id  %>">
  <%= simple_form_for @commentable.comment_form_path, :remote => true do |f| %>
    <div id="comment-box">
      <% if current_user %>
        <%= image_tag current_user.avatar_url(:thumb), :class => 'comment-pic' %>
      <% else %>
        <%= image_tag 'profile-pic.svg', :class => 'comment-pic' %>
      <% end %>
      <%= f.text_area :content, :placeholder => "Share your thoughts...", :id => "comment-#{@commentable.id}", :class => "comment-input" %>
      <% if parent_id %>
      	<%= f.hidden_field :parent_id, value: parent_id %>
      <% end %>
    </div>
    <% if @commentable.class == Challenge && !parent_id %>
      <div id="comment-box-bottom">
        <%= f.text_field :video_url, placeholder: "Link to video, audio, or photo submission (Youtube, Vimeo, Flickr, etc)", :class => "comment-video-input" %>
        <%= f.submit "Post", id: "post-comment" %>
      </div>
    <% else %>
      <%= f.submit "Post", id: "post-comment" %>
    <% end %>
  <% end %>
</div>