 <article id="comment-id-<%=  comment.user.id %>" class="comment">

	<a>
	  <%= image_tag comment.user.avatar_url(:thumb).to_s, :class => "comment-pic" %>
	</a>

	<section class="comment-body">
	  <header>
	    <a href="#"><span class="comment-name"><%= comment.user.name %></span></a>
	    <span class="text-muted text-xs m-t-xs comment-date">
	      <%= comment.created_at.to_date.to_formatted_s( :long_ordinal ) %>
	    </span>
	  </header>

	  <div class="comment-content">
	    <% if comment.belongs_to_challenge %>
	      <div class="comment-video">
	        <%= image_tag Video.first.vthumbnail, :class => "challenge-thumbnail" %>
	        <%= image_tag 'play-icon.png', :class => "challenge-play" %>
	      </div>
	    <% end %>
	    <p class="comment-text">
	      <%= comment.content %>
	    </p>
	  </div>
	  	<% if comment.user == current_user %>
		  <div class="comment-actions">
		   <!--  <span class="comment-edit">Edit</span> -->
		  </div>
		<% end %>
	</section>
</article>