<link rel="image_src" href="<%= image_url('series-icon.png') %>" />
<div id="content-container">
  <%= link_to livestreams_path do %>
    <div id="banner">
      Livestreaming <%= Livestream.next_livestream_info %>!
    </div>
  <% end %>
  <div class="landing-container landing-top">
    <section class="landing-section" id="tagline-section">
      <div id='tagline-overlay'></div>
      <div class="section-content">
        <p id="tagline">
          Bringing Silicon Valley to you.
        </p>
      </div>
    </section>
    <section class="landing-section video-section">
      <div class="section-content">
        <% Playlist.front_page.each do |playlist| %>
          <%= render partial: "playlists/show", locals: {playlist: playlist} %>
        <% end %>
      </div>
    </section>
  </div>
  <div class="landing-container landing-bottom">
    <section class="landing-section info-section">
      <div class="blue-overlay"></div>
      <div class="section-content">
        <div id="explainer-section">
        <div class="info-items">
            <div class="info-item">
              <%= image_tag 'play_button.svg', :class =>"info-img" %>
              <div class="info-item-misc">
                <p class="info-title">VIDEOS</p>
                <p class="info-desc">Learn from free, exclusive clips of successful entreperneurs, and Silicon Valley executives.  </p>
              </div>
            </div>
            <div class="info-item">
              <%= image_tag 'series-icon-mobile.png', :class =>"info-img" %>
              <div class="info-item-misc">
                <p class="info-title">SERIES</p>
                <p class="info-desc">In-depth lectures covering everything you need to know about starting up your company and far beyond.</p>
              </div>
            </div>
            <div class="info-item">
              <%= image_tag 'challenges-icon.svg', :class =>"info-img" %>
              <div class="info-item-misc">
                <p class="info-title">CHALLENGES</p>
                <p class="info-desc">Go for it.<br> Complete challenges to see if you really know your stuff.</p>
              </div>
            </div>
          </div>
          <%= link_to new_user_registration_path do %>
            <div id="sign-up" class="green-btn">
              Sign Up
            </div>
          <% end %>
        </div>
      </div>
    </section>
    <%= render partial: 'layouts/footer' %>
  </div>
</div>

<% if @login_failure %>
  <script>
  $('#login-modal').show()
  $('.login-field').css('border', '1px solid rgb(225,71,76)')
  </script>  

  
<% end %>


