
<div id="content-container">

  <div class="landing-container landing-top">
    <header id="landing-header">
      <div class="header-mid no-mobile">
        <div class="header-item m-md">
          SERIES
        </div>
        <div class="header-item m-md">
          QUICK WATCHES
        </div>
      </div>

      <div class="header-right no-mobile">
        <div class="header-item m-xs green-btn sign-up-btn">
          Sign Up
        </div>
        <div class="header-item m-xs">
          or Log In
        </div>
      </div>
      <div class="header-left">
        <%= image_tag 'draper-logo.png', :class => "header-item logo" %>
      </div>
    </header>
    <section class="landing-section" id="tagline-section">
      <div class="section-content">
        <div id="tagline">
          Insert Generic Tagline Here!
        </div>
      </div>
    </section>



    <section class="landing-section video-section">
      <div class="section-content">
        <div class="series-header">
          <div class="pull-left series-title">
            Delivering Happiness with Tony Hsieh
          </div>
          <div class="pull-right green-btn series-price">
            Full Series <span class="bold">$3.99</span>
          </div>
        </div>
        <div class="series-content">
          <div class="white-gradient no-mobile">
          </div>
          <%= image_tag 'scroll-arrow.png', :class => "scroll-arrow no-mobile" %>
          <%= image_tag "tony-photo.png", :class => "series-speaker no-mobile" %>
          <% (1..10).each do |n| %>
            <div class="series-video">
              <div class="video-length">3:59</div>
              <%= image_tag 'play-icon.png', :class => "video-play" %>
              <%= image_tag 'elon-vid.png', :class => "video-thumbnail" %>
              <div class="video-title blue">
                What is starting up like?
              </div>
            </div>
          <% end %>
        </div>
        <div class="series-footer no-mobile">
          <div class="pull-right challenge-btn"></div>
          <div class="pull-right m-r-sm">
            Challenge: Do Something Test Challenge
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="landing-container landing-bottom">
    <section class="landing-section info-section">
      <div class="blue-overlay"></div>
      <div class="section-content">
        <div class="info-items">
          <div class="info-item">
            <%= image_tag 'play-icon.png', :class =>"info-img" %>
            <div class="info-title">QUICK WATCHES</div>
            <div class="info-desc">Learn from free, exclusive clips of successful entreperneurs, and Silicon Valley executives.  </div>
          </div>
          <div class="info-item">
            <%= image_tag 'series-icon.png', :class =>"info-img" %>
            <div class="info-title">SERIES</div>
            <div class="info-desc">In depth lectures covering everything you need to know about starting up your company and far beyond.</div>
          </div>
          <div class="info-item">
            <%= image_tag 'challenges-icon.png', :class =>"info-img" %>
            <div class="info-title">CHALLENGES</div>
            <div class="info-desc">F*** it, ship it.<br> Complete challenges to see if you really know your stuff.</div>
          </div>
        </div>
        <div id="sign-up" class="green-btn">
          Sign Up
        </div>
      </div>
    </section>
    <footer id="landing-footer" class="landing-section no-mobile">
      <div class="section-content">
        <div class="footer-item">
          <div class="footer-item-title blue">DRAPER<span class="italic bold">TV</span></div>
          <div class="footer-item-link">About</div>
          <div class="footer-item-link">Contact Us</div>
        </div>

        <div class="footer-item">
          <div class="footer-item-title green">UPGRADE</div>
          <div class="footer-item-link">DRAPER<span class="italic bold">TV</span>+</div>
        </div>

        <div class="footer-item">
          <div class="footer-item-title orange">HELP</div>
          <div class="footer-item-link">Basics</div>
          <div class="footer-item-link">FAQ</div>
        </div>

        <div class="footer-notes">
          All rights reserved, Draper Collective, LLC.
        </div>
      </div>

    </footer>
  </div>
</div>


