<div id="content-container">
  <div class="landing-container landing-top">
    <%= render partial: "layouts/header" %>
    <section class="landing-section" id="tagline-section">
      <div id='tagline-overlay'></div>
      <div class="section-content">
        <div id="tagline">
          Bringing Silicon Valley to you.
        </div>
      </div>
    </section>
    <section class="landing-section video-section">
      <div class="section-content">
        <div class="series-header">
          <div class="series-title">
            Delivering Happiness with Tony Hsieh
          </div>
          <div class="series-actions">
            <div class="challenge-text">
              Challenge: Do Something Test Challenge
            </div>
            <div class="challenge-btn"></div>
            <div class="green-btn series-price">
              Full Series <span class="bold">$3.99</span>
            </div>
          </div>
          
        </div>
        <div class="series-content">
          <div class="series-speaker">
            <%= image_tag "tony-photo.png", :class => "series-speaker-photo no-mobile" %>
            <div class="speaker-name">Tony Hsieh</div>
            <div class="speaker-title">CEO & Founder Zappos</div>
          </div>
            <div class="white-gradient left no-mobile hidden">
            </div>
            <%= image_tag 'scroll-arrow.png', :class => "scroll-arrow left no-mobile hidden" %>
            <div class="white-gradient right no-mobile"></div>
            <%= image_tag 'scroll-arrow.png', :class => "scroll-arrow right no-mobile" %>
          <div class="series-videos">
            <% (1..10).each do |n| %>
              <div class="series-video">
                <div class="video-length">3:59</div>
                <%= image_tag 'play-icon.png', :class => "video-play" %>
                <%= image_tag 'elon-vid.png', :class => "video-thumbnail" %>
                <div class="video-title blue">
                  What is starting up like?
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="series-footer no-mobile">
        </div>
      </div>
    </section>
  </div>
  <div class="landing-container landing-bottom">
    <section class="landing-section info-section">
      <div class="blue-overlay"></div>
      <div class="section-content">
        <div class="info-items">
          <div class="info-item">
            <%= image_tag 'play-icon.png', :class =>"info-img" %>
            <div class="info-title">QUICK WATCHES</div>
            <div class="info-desc">Learn from free, exclusive clips of successful entreperneurs, and Silicon Valley executives.  </div>
          </div>
          <div class="info-item">
            <%= image_tag 'series-icon.png', :class =>"info-img" %>
            <div class="info-title">SERIES</div>
            <div class="info-desc">In depth lectures covering everything you need to know about starting up your company and far beyond.</div>
          </div>
          <div class="info-item">
            <%= image_tag 'challenges-icon.png', :class =>"info-img" %>
            <div class="info-title">CHALLENGES</div>
            <div class="info-desc">F*** it, ship it.<br> Complete challenges to see if you really know your stuff.</div>
          </div>
        </div>
        <div id="sign-up" class="green-btn">
          Sign Up
        </div>
      </div>
    </section>
    <%= render partial: 'layouts/footer' %>
  </div>
</div>


