<div class="modal-container">
  <div class="modal">
    <div class="modal-header">
      <h3>
        Get DraperTV email updates
      </h3> 
      <%= image_tag "attitudedone.svg", :class => "close" %>
    </div>
    <div class="modal-content">
      <p class="hidden submit-confirmation">Thanks! A confirmation email has been sent to your inbox.</p>
      <p class="hide-on-submit">Subscribe to receive email notifications whenever new videos are available or reminders for Livestream Events only.</p>
      <%= form_tag "/notifications", :class => "modal-form hide-on-submit notifications-form", remote: true do %>
        <div class="email-selection">
          <div class="email-option">
            <%= radio_button_tag :notification_option, :all_videos %>
            <%= label_tag :all_videos, "All Videos" %>
            <div class="check"></div>
          </div>
          <div class="email-option">
            <%= radio_button_tag :notification_option,  :all_livestreams %>
            <%= label_tag :all_livestreams, "All Livestreams" %>
            <div class="check"></div>
          </div>
          <div class="email-option">
            <%= radio_button_tag :notification_option,  :livestream %>
            <%= label_tag :livestream, "This Livestream Event" %>
            <div class="check"></div>
          </div>
        </div>
        <%= text_field_tag :email, nil, :class => "footer-email", placeholder: "Email Address" %>
        <%= submit_tag "Submit", :class => "submit-footer-email" %>
      <% end %>
    </div>    
  </div>
</div>