<li class="video-item-container <%= video.categories %> ALL">
  <div class="video-img">
       <%= link_to video_path(video) do %>
          <%= image_tag 'play-icon.png', :class => "video-play" %>
          <span class="section-time"> <%= video.length %> </span>
          <img src="<%= video.vthumbnail %>"  alt="" class="video-thumbnail">
      <% end %>
  </div>
  <div class="video-info">
    <%= link_to video_path(video) do %>
      <p class="text-ellipsis qwatch-title"><%= video.title %></p>
    <% end %>
    <p class="text-ellipsis video-stats"> <span><%= video.view_count %> Views &nbsp;•  &nbsp; <%= video.get_upvotes.size %></span>
      <%= image_tag 'fav-button.svg', :class => "fav-star" %>
    </p>
  </div>
</li>