<div class="videos-container">
  <header id="video-header">
    <ul class="video-header-mid no-mobile">
      <% @tags.each do |tag| %>
        <li class="video-header-item">
          <p class="<%= tag.name %>">
            <%= tag.name %>
          </p>
        </li>
      <% end %>
       <li class="video-header-item active">
        <p class="ALL">
          ALL
        </p>
      </li>
    </ul>
  </header>
  <div class="section-content">
    <h2 class="section-title">FEATURED</h2>
    <% cache "featured_videos", skip_digest: true do %>
      <%= render partial: "featured_videos" %>
    <% end %>
    <div class="video-collection-header">
      <div class="collections-left">
        <h2 class="section-title">VIDEOS</h2>
      </div>
      <div class="collections-right">
        <div class="pages">
          <% if !@first_page %>
            <%= link_to url_for(page: @page_back) do %>
              <%= image_tag "scroll-arrow.png", :class => "page-back" %>
            <% end %>
          <% else %>
              <%= image_tag "scroll-arrow.png", :class => "page-back faded" %>
          <% end %>
            <div class="page-display"><span class="current-page"><%= @page.to_s || "0" %></span> <%= image_tag "scroll-arrow.png", :class => "page-down" %></div>
          <% if !@last_page %>
            <%= link_to url_for(page: @page_next) do %>
              <%= image_tag "scroll-arrow.png", :class => "page-next" %>
            <% end %>
          <% else %>
              <%= image_tag "scroll-arrow.png", :class => "page-next faded" %>
          <% end %>
        </div>
      </div>
    </div>

    <ul class="regular-videos">
      <% cache 'all_videos', skip_digest: true do %>
        <% @videos.each do |video| %>
          <%= render partial: 'video_item_container', locals: {video: video} %>
        <% end %>
      <% end %>
    </ul>
     <div class="pages bottom">
      <% if !@first_page %>
        <%= link_to url_for(page: @page_back) do %>
          <p class="page-next-info">Prev page</p><%= image_tag "scroll-arrow.png", :class => "page-back" %>
        <% end %>
      <% else %>
          <p class="page-next-info text-faded">Prev page</p><%= image_tag "scroll-arrow.png", :class => "page-back faded" %>
      <% end %>
        <div class="page-display"><span class="current-page"><%= @page.to_s || "0" %></span> <%= image_tag "scroll-arrow.png", :class => "page-down" %></div>
      <% if !@last_page %>
        <%= link_to url_for(page: @page_next) do %>
          <%= image_tag "scroll-arrow.png", :class => "page-next" %><p class="page-next-info">Next page</p>
        <% end %>
      <% else %>
          <%= image_tag "scroll-arrow.png", :class => "page-next faded" %><p class="page-next-info text-faded">Next page</p>
      <% end %>
    </div>
    <%= render partial: 'layouts/footer' %>
  </div>
</div>
