<div class="videos-container">
  <header id="video-header">
    <div class="video-header-mid no-mobile">
      <% @tags.each do |tag| %>
        <div class="video-header-item">
            <%= link_to tag.name, tag_path(tag.name), class: tag.name %>
        </div>
      <% end %>
       <div class="video-header-item">
        <%= link_to "All", videos_path, class: "cat-btn" %>
      </div>
    </div>
  </header>
  <div class="section-content">
    <h2 class="section-title">FEATURED</h2>
    <%= render partial: "featured_videos" %>
    <h2 class="section-title">QUICK WATCHES</h2>
    <div class="regular-videos">
      <% @videos.each do |video| %>
        <%= render partial: 'video_item_container', locals: {video: video} %>
      <% end %>
    </div>
    <%= render partial: 'layouts/footer' %>
  </div>
</div>
