
<section class="vbox">
  <header id="landing-header2">
    <div class="header2-mid no-mobile">

      <% @tags.each do |tag| %>
        <div class="header2-item">
          <div class="header-item m-xs cat-btn">
            <%= link_to tag.name, tag_path(tag.name), class: tag.name %>
          </div>
        </div>
      <% end %>

       <div class="header2-item">
        <%= link_to "All", videos_path, class: "cat-btn" %>
      </div>
    </div>
</header>

  <section id="content">
    <section class="vbox" id="bjax-el">
      <section class="scrollable padder-lg">
        <h2 class="font-thin m-b section-title">FEATURED</h2>
        <div class="row row-sm">
          <% @videos.each do |video| %>
            <div class="col-xs-12 col-sm-3">
              <div class="item video">
                <div class="pos-rlt">

                  <div class="item-overlay opacity r r-2x bg-black">
                    <div class="center text-center m-t-n">
                      <% if video.can_be_accessed_by? current_user %>
                        <a href="<%= video_path(video) %>"><i class="fa fa-play-circle i-2x"></i></a>
                      <% else %>
                        <i class="fa fa-play-circle i-2x"></i>
                        <div class="modal modal-overlay">
                          <div class="modal-content video-modal">
                            <div class="modal-message">This video is video is only available for premium users. Click here to get premium access for $9.99.</div>
                          <%= link_to video_increment_demand_path(video), remote: true do %>
                            <div class="btn-primary btn m-t-lg">
                              Get Access
                            </div>
                          <% end %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <div class="bottom">
                    <span class="badge section-time m-l-sm m-t-sm pull-right"> 3:45 </span>
                  </div>
                  <div class="top">
                    <span class="badge bg-dark m-l-sm m-t-sm pull-right"></span>
                  </div>
                  <a href="#"><img src="<%= asset_url('assets/m40.jpg') %>" alt="" class="r r-2x img-full"></a>
                </div>
                <div class="padder-v">
                  <a href="#" class="text-ellipsis qwatch-title"><%= video.title %></a>
                  <p class="text-ellipsis text-xs text-muted"> 3045 Views * <%= video.get_upvotes.size %> <i class="fa fa-star stared"></i></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <h2 class="font-thin m-b">QUICK WATCHES</h2>
        <div class="row row-sm">
          <% @videos.each do |video| %>
            <div class="col-xs-12 col-sm-3">
              <div class="item video">
                <div class="pos-rlt">
                  <div class="item-overlay opacity r r-2x bg-black">
                    <div class="center text-center m-t-n">
                      <% if video.can_be_accessed_by? current_user %>
                        <a href="<%= video_path(video) %>"><i class="fa fa-play-circle i-2x"></i></a>
                      <% else %>
                        <i class="fa fa-play-circle i-2x"></i>
                        <div class="modal modal-overlay">
                          <div class="modal-content video-modal">
                            <div class="modal-message">This video is video is only available for premium users. Click here to get premium access for $9.99.</div>
                          <%= link_to video_increment_demand_path(video), remote: true do %>
                            <div class="btn-primary btn m-t-lg">
                              Get Access
                            </div>
                          <% end %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <div class="top">
                    <span class="badge bg-dark m-l-sm m-t-sm"><%= User.where(:id => video.author_id).first.name %></span>
                    <span class="badge bg-dark m-l-sm m-t-sm pull-right"></span>
                  </div>
                  <a href="video-detail.html"><img src="<%= asset_url('assets/m40.jpg') %>" alt="" class="r r-2x img-full"></a>
                </div>
                <div class="padder-v">
                  <a href="video-detail.html" class="text-ellipsis"><%= video.title %></a>
                  <a href="video-detail.html" class="text-ellipsis text-xs text-muted"><%= video.description %><%= video.video_id %></a>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <!--
        <ul class="pagination pagination">
          <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
        </ul> -->
      </section><!-- scrollable padder-lg -->
    </section>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
  </section>
</section><!-- vbox -->
