<div class="vbox videos-container">
  <header id="video-header">
    <div class="video-header-mid no-mobile">
      <% @tags.each do |tag| %>
        <div class="video-header-item">
            <%= link_to tag.name, tag_path(tag.name), class: tag.name %>
        </div>
      <% end %>
       <div class="video-header-item">
        <%= link_to "All", videos_path, class: "cat-btn" %>
      </div>
    </div>
  </header>
  <div class="section-content">
    <section class="vbox" id="bjax-el">
        <h2 class="font-thin m-b section-title">FEATURED</h2>
        <div class="featured-videos">
          <% VideoFeature.where(:type_qwatch => true).limit(5).each do |id| %>
            <% if Video.find(id.video_id).present? %>
              <% video = Video.find(id.video_id) %>
              <%= render partial: 'video_item_container', locals: {video: video} %>
            <% end %>
          <% end %>
        </div>
        <h2 class="font-thin m-b section-title">QUICK WATCHES</h2>
        <div class="regular-videos">
          <% @videos.each do |video| %>
            <%= render partial: 'video_item_container', locals: {video: video} %>
          <% end %>
        </div>
        <%= render partial: 'layouts/footer' %>
      </div>
    </section>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
  </div>
</div>
