<%= render "layouts/cat" %>
<section class="vbox">
  <section id="content">
    <section class="vbox" id="bjax-el">
      <section class="scrollable padder-lg">
        <h2 class="font-thin m-b">Videos</h2>
        <div class="row row-sm">
          <% @videos.each do |video| %>
            <div class="col-xs-12 col-sm-4">
              <div class="item video">
                <div class="pos-rlt">
                  <div class="item-overlay opacity r r-2x bg-black">
                    <div class="center text-center m-t-n">
                      <% if video.can_be_accessed_by? current_user %>
                        <a href="<%= video_path(video) %>"><i class="fa fa-play-circle i-2x"></i></a>
                      <% else %>
                        <i class="fa fa-play-circle i-2x"></i>
                        <div class="modal modal-overlay">
                          <div class="modal-content video-modal">
                            This video is video is only available for premium users. Click here to get premium access for $9.99.
                          <%= link_to video_increment_demand_path(video), remote: true do %>
                            <div class="btn-primary btn m-t-lg">
                              Get Access
                            </div>
                          <% end %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <div class="top">
                    <span class="badge bg-dark m-l-sm m-t-sm"><%= User.where(:id => video.author_id).first.name %></span>
                    <span class="badge bg-dark m-l-sm m-t-sm pull-right"></span>
                  </div>
                  <a href="video-detail.html"><img src="<%= asset_url('assets/m40.jpg') %>" alt="" class="r r-2x img-full"></a>
                </div>
                <div class="padder-v">
                  <a href="video-detail.html" class="text-ellipsis"><%= video.title %></a>
                  <a href="video-detail.html" class="text-ellipsis text-xs text-muted"><%= video.description %><%= video.video_id %></a>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <!--
        <ul class="pagination pagination">
          <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
        </ul> -->
      </section><!-- scrollable padder-lg -->
    </section>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
  </section>
</section><!-- vbox -->
