<div id="video-container">
  <div class="section-content" id="video-section">
    <div class="section-left">
      <%= raw @video_yt_embed %>
      <div class="video-main-info">
        <div class="video-title"><%= @video.title %></div>
        <div class="video-actions">
          <span class="video-view-count">
            <%= @video.view_count %> Views • <span class="video-like-count"><%= @video.get_likes.size %></span>
            <%= link_to(create_favorite_path(model_id: @video.id, model_name: "Video"), remote: true, :class => "fav-link") do %>
              <%= image_tag 'fav-button.svg', :class => "fav-star svg" %>
            <% end %>
          </span>
          <span class="video-category"><%= @video.category.first.name %></span>
        </div>
        <div class="video-speaker-info">
          <%= image_tag Speaker.where(:id => @video.author_id).first.profilepic_url(:thumb), :class => "video-speaker" %>
          <div class="">
            <div class="video-speaker-name"><%= Speaker.where(:id => @video.author_id).first.name %></div>
            <%= @video.description %>
          </div>
        </div>
          <br>
      </div>
      <div id="comments-container">
        <div class="comments-header">COMMENTS</div>
        <div id="main-comment-form">
          <%= render partial: "comments/form", locals: {parent_id: nil} %>
        </div>
        <%= render partial: "comments/comments" %>
      </div>
    </div>
    <div class="section-right">
      <header class="additional-video-list">
        <section class="videos-panel">
            <div class="video-item playlist-info">
              <div class="video-info-row">
                <a href="">
                  <% if Playlist.where(:author_id => @video.author_id).present? %>
                    <div class="playlist-title">
                      <%= Playlist.where(:author_id => @video.author_id).first.title %>
                    </div>
                  <% end %>
                </a>
                <%= link_to(create_favorite_path(model_id: @video.playlist.id, model_name: "Playlist"), remote: true, :class => "fav-link #{ "selected" if current_user.voted_for? @video.playlist}") do %>
                  <%= image_tag 'fav-button.svg', :class => "fav-star svg" %>
                <% end %>
              </div>
              <div class="centered green-btn series-price">
                <% if Playlist.where(:author_id => @video.author_id).present? %>
                  Full Series <span class="bold">$<%= Playlist.where(:author_id => @video.author_id).first.price %></span>
                <% end %>
              </div>
            </div>
            <div class="video-item reded challenge-info">
              <i class="fa fa-video-camera fa-2x text-danger"></i>
              <% if @video.challenge %>
                <%= link_to playlist_challenge_path(@video.playlist, @video.challenge), :class => "challenge-name" do %>
                  Challenge: Placeholder Name for Video Challenge
                <% end %>
              <% else %>
                Challenge: No challenge yet.
              <% end %>
              <%= link_to(create_favorite_path(model_id: @video.challenge, model_name: "Challenge"), remote: true, :class => "fav-link #{ "selected" if current_user.voted_for? @video.challenge}") do %>
                <%= image_tag 'fav-button.svg', :class => "fav-star svg" %>
              <% end %>
            </div>
              <%# This is is a check up, in case the Author ID and Playlist ID didnt Match! It will help to fail gracefully %>
            <% if Playlist.where(:author_id => @video.author_id).present? %>
              <% playlist = Playlist.where(:author_id => @video.author_id).first %>
              <div class="video-list">
                <% playlist.video_ids.each do |v| %>
                  <% if Video.where(:id => v).present? %>
                    <% video = Video.where(:id => v).first %>
                    <% if @video.id == video.id %>
                      <div class="video-item current">
                    <% else %>
                      <div class="video-item">
                    <% end %>
                        <div class="video-info-row">
                          <span class="video-id">
                            <%= v %>
                          </span>
                          <%= image_tag video.vthumbnail, :class => "video-list-thumbnail" %>
                           <div class="video-list-title">
                            <a href="<%= video_path(video) %>"><%= truncate(video.title, length: 70, separator: ' ') %></a>
                          </div>
                          <%= link_to(create_favorite_path(model_id: v, model_name: "Video"), remote: true, :class => "fav-link #{ "selected" if current_user.voted_for? video}") do %>
                            <%= image_tag 'fav-button.svg', :class => "fav-star svg" %>
                          <% end %>
                        </div>
                      </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
        </section>
      </header>
      <div id="suggested-videos">
        <div class="related-header">RELATED VIDEOS</div>
        <% @video.suggested.each do |video| %>
          <div class="suggested-video">
            <%= image_tag video.vthumbnail, :class => "suggested-video-thumbnail" %>
            <div class="suggested-video-info">
              <div class="suggested-video-title">
                <%= video.title %>
              </div>
               <span class="video-view-count">
                <%= video.view_count %> Views • <span class="video-like-count"><%= @video.get_likes.size %></span>
                <%= link_to(create_favorite_path(model_id: video, model_name: "Video"), remote: true, :class => "fav-link") do %>
                  <%= image_tag 'fav-button.svg', :class => "fav-star svg" %>
                <% end %>
              </span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render partial: "layouts/footer" %>

<script>
  $('img.svg').each(function(){
    var $img = $(this);
    var imgID = $img.attr('id');
    var imgClass = $img.attr('class');
    var imgURL = $img.attr('src');
    $.get(imgURL, function(data) {
        // Get the SVG tag, ignore the rest
        var $svg = $(data).find('svg');

        // Add replaced image's ID to the new SVG
        if(typeof imgID !== 'undefined') {
            $svg = $svg.attr('id', imgID);
        }
        // Add replaced image's classes to the new SVG
        if(typeof imgClass !== 'undefined') {
            $svg = $svg.attr('class', imgClass+' replaced-svg');
        }
        // Remove any invalid XML tags as per http://validator.w3.org
        $svg = $svg.removeAttr('xmlns:a');
        // Replace image with new SVG
        $img.replaceWith($svg);
        $img.show()
    }, 'xml');

  });
</script>
