<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @video.author_id %>
</p>

<p>
  <strong>Speaker:</strong>
  <%= @video.speaker %>
</p>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @video.url %>
</p>

<p>
  <strong>Value:</strong>
  <%= @video.value %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
 -->


   <section class="vbox">

    <section>
      <section class="hbox stretch">

        <section id="content">
          <section class="vbox">
            <section class="scrollable wrapper-lg">
              <div class="row">
                <div class="col-sm-8">
                  <div class="panel">



                    <!-- video player -->
                    <script src="https://ignitetv.s3.amazonaws.com/jwplayer.js"></script>
                      <div id='mediaplayer'></div>
                      <script type="text/javascript">
                      jwplayer('mediaplayer').setup({
                      file: <%= sanitize(@video.signed.inspect) %>,
                      image: '//www.longtailvideo.com/content/images/jw-player/lWMJeVvV-876.jpg',
                      width: '100%',
                      aspectratio: '16:9'
                      });
                      </script>




                    <!-- / video player -->
                    <div class="wrapper-lg">
                      <h2 class="m-t-none text-black"><%= @video.title %></h2>
                      <div class="post-sum">
                        <p>
                          <%= @video.description %>
                          <br><br><br>
                          <%= @video.signed_html5 %>
                          <br><br><br>
                          <%= @video.signed_flash %>
                          <br><br><br>
                          <%= @video.signed %>
                        </p>
                      </div>
                      <div class="line b-b"></div>
                      <div class="text-muted">
                        <i class="fa fa-user icon-muted"></i> by <a href="#" class="m-r-sm">Admin</a>
                        <i class="fa fa-clock-o icon-muted"></i> <%= @video.created_at.to_date.to_formatted_s( :long_ordinal ) %>
                        <a href="#" class="m-l-sm"><i class="fa fa-comment-o icon-muted"></i> <%= @video.comments.count %> comments</a>
                      </div>
                    </div>
                  </div>
                  <h4 class="m-t-lg m-b">3 Comments</h4>
                <%= render "comments/comments" %>



                  <h4 class="m-t-lg m-b">Leave a comment</h4>


                <%= render "comments/form" %>

                </div>

                <%= render "quotes/quotes", video: @video %>



              </div>
            </section>
          </section>
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
        </section>
      </section>
    </section>
  </section>