<section class="vbox">
  <section>
    <section class="hbox stretch">
      <section id="content">
        <section class="vbox">
          <section class="scrollable wrapper-lg" style="margin: 0; padding: 0;">
            <div class="row" style="background-color: white;">
              <div class="col-sm-12">
                <div class="panel video-panel">
                  <div class="video-content" style="margin: 0 auto; max-width: 886px;">
                    <!-- video player -->
                    <div class="">
                      <div class="video-responsive-container">
                        <%= raw @video_vimeo_embed %>
                      </div>
                    </div>
                  </div><!-- video-content -->
                </div><!-- panel video-panel -->
              </div><!-- col 12, video player -->
              <!-- ============== -->
              <!-- === BOTTOM === -->
              <!-- ============== -->
              <div class="col-sm-8 col-sm-offset-2">
                <div class="col-sm-12">
                  <!-- / video player -->
                  <div class="wrapper-lg" style="padding: 0;">
                    <!--  <h2 class="m-t-none text-black"><%= @video.title %></h2> -->
                    <div class="line b-b"></div>
                    <h3><%= @video.description %></h3>
                    <br/>
                    <div class="post-sum">

                    </div><!-- post-sum -->
                    <div class="line b-b"></div>
                    <%= User.where(:id => @video.author_id).first.name %>
                    <br>
                    <%= link_to(favit_video_path(@video)) do %>
                    <i class="fa fa-star"></i>
                    <% end %>

                    <div class="line b-b"></div>
                    <div class="text-muted">
                    </div>
                    <h4 class="m-t-lg m-b">Discussion</h4>
                    <div class="line b-b"></div>
                    <%= render "comments/form" %>
                    <h4 class="m-t-lg m-b"><%= @video.comments.count %>
                      comments</h4>
                    <%= render "comments/comments" %>
                    <br/><br/><br/><br/>
                  </div><!-- panel -->
                </div><!-- col-8 -->
                <!--  <%= render "quotes/quotes", video: @video %> -->
              </div><!-- col-12 -->
            </div><!-- row -->
          </section>
        </section>
        <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
      </section>
    </section>
  </section>
</section>
