<div id="video-container">
  <div class="section-content" id="video-section">
    <div class="section-left">
      <%= raw @video_yt_embed %>
      <div class="video-main-info">
        <p class="video-title"><%= @video.title %></p>
        <div class="video-actions">
          <div class="main-video-view-count">
           <div> <%= @video.view_count %> Views &nbsp;•&nbsp; <span class="video-like-count"><%= @video.get_likes.size %></span></div>
            <%= link_to(create_favorite_path(model_id: @video.id, model_name: "Video"), remote: true, :class => "fav-link") do %>
              <%= image_tag 'fav-button.svg', :class => "fav-star svg" %>
            <% end %>
          </div>
          <p class="video-category"><%= @video.category.first.name %></p>
        </div>
        <div class="video-speaker-info">
          <%= image_tag Speaker.where(:id => @video.author_id).first.profilepic_url(:seriesthumb), :class => "video-speaker" %>
          <div class="video-info">
            <div class="video-info-header">
              <p class="video-speaker-name"><%= Speaker.where(:id => @video.author_id).first.name %></p>
              <p class="video-publish-date">Published on <%= @video.publish_date %></p>
            </div>
              <p class="video-desc"><%= @video.description %></p>
          </div>
        </div>
      </div>
        <% if current_user %>
          <div id="comments-container">
            <div class="comments-header">COMMENTS</div>
            <% if current_user %>
              <div id="main-comment-form">
                <%= render partial: "comments/form", locals: {parent_id: nil} %>
              </div>
            <% end %>
            <%= render partial: "comments/comments" %>
          </div>
        <% end %>
    </div>
    <div class="section-right">
      <header class="additional-video-list">
        <section class="videos-panel">
            <div class="video-item playlist-info">
              <div class="video-info-row">
                <% if Playlist.where(:author_id => @video.author_id).present? %>
                  <p class="playlist-title">
                    <%= Playlist.where(:author_id => @video.author_id).first.title %>
                  </p>
                <% end %>
                <%= link_to(create_favorite_path(model_id: @video.playlist.id, model_name: "Playlist"), remote: true, :class => "fav-link #{ "selected" if current_user && current_user.voted_for?(@video.playlist)}") do %>
                  <%= image_tag 'fav-button.svg', :class => "fav-star svg" %>
                <% end %>
              </div>
<!--             <div class="centered green-btn series-price">
                <% if Playlist.where(:author_id => @video.author_id).present? %>
                  Full Series <span class="bold">$<%= Playlist.where(:author_id => @video.author_id).first.price %></span>
                <% end %>
              </div> -->
            </div>
           <!--  <div class="video-item reded challenge-info hidden">
              <%= image_tag 'vid-chal-icon.svg', :class => 'vid-chal-icon' %>
              <% if @video.challenge %>
                <%= link_to playlist_challenge_path(@video.playlist, @video.challenge), :class => "challenge-name" do %>
                  Challenge: Placeholder Name for Video Challenge
                <% end %>
              <% else %>
                <p>Challenge: No challenge yet.</p>
              <% end %>
              <% if @video.challenge %>
                <%= link_to(create_favorite_path(model_id: @video.challenge, model_name: "Challenge"), remote: true, :class => "fav-link #{ "selected" if current_user && current_user.voted_for?(@video.challenge)}") do %>
                  <%= image_tag 'fav-button.svg', :class => "fav-star svg" %>
                <% end %>
              <% end %>
            </div> -->
              <%# This is is a check up, in case the Author ID and Playlist ID didnt Match! It will help to fail gracefully %>
            <% if Playlist.where(:author_id => @video.author_id).present? %>
              <% playlist = Playlist.where(:author_id => @video.author_id).first %>
              <div class="video-list">
                <% n = 1 %>
                <% playlist.video_ids.each do |v| %>
                  <% if Video.where(:id => v).present? %>
                    <% video = Video.where(:id => v).first %>
                    <div class="video-item <%= 'current' if @video.id == video.id %>">
                      <div class="video-info-row">
                        <span class="video-id">
                          
                          <%= n %>
                          <% n += 1 %>
                        </span>
                        <%= link_to video_path(video) do %>
                          <%= image_tag video.vthumbnail, :class => "video-list-thumbnail" %>
                        <% end %>
                        <%= link_to video_path(video) do %>
                          <p class="video-list-title">
                            <%= truncate(video.title, length: 70, separator: ' ') %>
                          </p>
                        <% end %>
                        <% if current_user %>
                          <%= link_to(create_favorite_path(model_id: v, model_name: "Video"), remote: true, :class => "fav-link #{ "selected" if current_user && current_user.voted_for?(video)}") do %>
                            <%= image_tag 'fav-button.svg', :class => "fav-star svg" %>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
        </section>
      </header>
      <% if current_user %>
        <div id="suggested-videos">
          <div class="related-header">RELATED VIDEOS</div>
          <% @video.suggested[0..5].each do |video| %>
            <div class="suggested-video">
              <div class="video-length"><%= video.length %></div>
              <%= image_tag video.vthumbnail, :class => "suggested-video-thumbnail" %>
              <div class="suggested-video-info">
                <p class="suggested-video-title">
                  <%= video.title %>
                </p>
                 <div class="video-view-count">
                  <p class="text-ellipsis video-stats"> <span><%= video.view_count %> Views &nbsp;•  &nbsp; <%= video.get_upvotes.size %></span>
                    <%= image_tag 'fav-button.svg', :class => "fav-star" %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render partial: "layouts/footer" %>


<script>
  $('img.svg').each(function(){
    var $img = $(this);
    var imgID = $img.attr('id');
    var imgClass = $img.attr('class');
    var imgURL = $img.attr('src');
    $.get(imgURL, function(data) {
        // Get the SVG tag, ignore the rest
        var $svg = $(data).find('svg');
        // Add replaced image's ID to the new SVG
        if(typeof imgID !== 'undefined') {
            $svg = $svg.attr('id', imgID);
        }
        // Add replaced image's classes to the new SVG
        if(typeof imgClass !== 'undefined') {
            $svg = $svg.attr('class', imgClass+' replaced-svg');
        }
        // Remove any invalid XML tags as per http://validator.w3.org
        $svg = $svg.removeAttr('xmlns:a');
        // Replace image with new SVG
        $img.replaceWith($svg);
        $img.show()
    }, 'xml');
  });
</script>

<% if !current_user %>
    <script>
    $('.video-speaker-info').css('margin-bottom', '50px')
    </script>
<% end %>
