<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @video.author_id %>
</p>

<p>
  <strong>Speaker:</strong>
  <%= @video.speaker %>
</p>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @video.url %>
</p>

<p>
  <strong>Value:</strong>
  <%= @video.value %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
 -->


   <section class="vbox">

    <section>
      <section class="hbox stretch">

        <section id="content">
          <section class="vbox">
            <section class="scrollable wrapper-lg">
              <div class="row">
                <div class="col-sm-8">
                  <div class="panel">



                    <!-- video player -->


              <script type='text/javascript' src='https://d3s3tctdnnjurp.cloudfront.net/jwplayer.js'></script>

                    <H1>This video is streamed by CloudFront and played by JW Player 6.</H1>
                      <div id='mediaplayer'></div>

                      <script type="text/javascript">

                      jwplayer('mediaplayer').setup({
                          file: "https://ignitetv.s3.amazonaws.com/ruby.mp4?AWSAccessKeyId=AKIAJYJWRFZLXAZVFNDQ&Expires=1414046306&Signature=PmfoKZqvwjq7Ziii2hp9rE%2BrFK4%3D",
                          width: "720",
                          height: "480"
                      });
                      </script>






                    <!-- / video player -->



                    <div class="wrapper-lg">
                      <h2 class="m-t-none text-black">Big Buck Bunny Trailer</h2>
                      <div class="post-sum">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat.
                        <br><br>
                        Phasellus at ultricies neque, quis malesuada augue. Donec eleifend condimentum nisl eu consectetur. Integer eleifend, nisl venenatis consequat iaculis, lectus arcu malesuada sem, dapibus porta quam lacus eu neque.</p>
                      </div>
                      <div class="line b-b"></div>
                      <div class="text-muted">
                        <i class="fa fa-user icon-muted"></i> by <a href="#" class="m-r-sm">Admin</a>
                        <i class="fa fa-clock-o icon-muted"></i> Feb 20, 2013
                        <a href="#" class="m-l-sm"><i class="fa fa-comment-o icon-muted"></i> 3 comments</a>
                      </div>
                    </div>
                  </div>
                  <h4 class="m-t-lg m-b">3 Comments</h4>
                  <section class="comment-list block">
                    <article id="comment-id-1" class="comment-item">
                      <a class="pull-left thumb-sm">
                        <img src="images/a0.png" class="img-circle">
                      </a>
                      <section class="comment-body m-b">
                        <header>
                          <a href="#"><strong>John smith</strong></a>
                          <label class="label bg-info m-l-xs">Editor</label>
                          <span class="text-muted text-xs block m-t-xs">
                            24 minutes ago
                          </span>
                        </header>
                        <div class="m-t-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum.</div>
                      </section>
                    </article>
                    <!-- .comment-reply -->
                    <article id="comment-id-2" class="comment-item comment-reply">
                      <a class="pull-left thumb-sm">
                        <img src="images/a1.png" class="img-circle">
                      </a>
                      <section class="comment-body m-b">
                        <header>
                          <a href="#"><strong>John smith</strong></a>
                          <label class="label bg-dark m-l-xs">Admin</label>
                          <span class="text-muted text-xs block m-t-xs">
                            26 minutes ago
                          </span>
                        </header>
                        <div class="m-t-sm">Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</div>
                      </section>
                    </article>
                    <!-- / .comment-reply -->
                    <article id="comment-id-2" class="comment-item">
                      <a class="pull-left thumb-sm">
                        <img src="images/a2.png" class="img-circle">
                      </a>
                      <section class="comment-body m-b">
                        <header>
                          <a href="#"><strong>John smith</strong></a>
                          <label class="label bg-dark m-l-xs">Admin</label>
                          <span class="text-muted text-xs block m-t-xs">
                            26 minutes ago
                          </span>
                        </header>
                        <blockquote class="m-t">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                          <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                        </blockquote>
                        <div class="m-t-sm">Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</div>
                      </section>
                    </article>
                  </section>


                  <h4 class="m-t-lg m-b">Leave a comment</h4>
                  <form>
                    <div class="form-group">
                      <label>Comment</label>
                      <textarea class="form-control" rows="5" placeholder="Type your comment"></textarea>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-success">Submit comment</button>
                    </div>
                  </form>
                </div>
                <div class="col-sm-4">
                  <div class="panel panel-default">
                    <div class="panel-heading">Quotes</div>
                    <div class="panel-body">
                      <article class="media">
                        <a href="#" class="pull-left thumb-lg m-t-xs">
                          <img src="images/m40.jpg">
                        </a>
                        <div class="media-body">
                          <a href="#" class="font-semibold">Bootstrap 3: What you need to know</a>
                          <div class="text-xs block m-t-xs"><a href="#">Travel</a> 2 minutes ago</div>
                        </div>
                      </article>
                      <article class="media">
                        <a href="#" class="pull-left thumb-lg m-t-xs">
                          <img src="images/m41.jpg">
                        </a>
                        <div class="media-body">
                          <a href="#" class="font-semibold">Lorem ipsum dolor sit amet it.</a>
                          <div class="text-xs block m-t-xs"><a href="#">Design</a> 2 hours ago</div>
                        </div>
                      </article>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </section>
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
        </section>
      </section>
    </section>
  </section>