<div class="featured-banner">
  <div class="featured-item about">
    <%=  image_tag "about.png", :class => "about-img" %>
    <div class="featured-info">
      <h1>Build your startup with the best</h1>
      <h3>Learn from the top founders and leaders in Silicon Valley.</h3>
    </div>
    <div class="featured-gradient">
    </div>
  </div>
</div>

<div class="about-content">
  <div class="about-left">
    <div class="about-section about-text">
      <h3>ABOUT US</h3>
      <p>Launched in March 2015 and based in San Mateo, California, DraperTV spreads the entrepreneurial mindset and stories from founders and leaders in Silicon Valley all across the world.<br><br>

      Whether you are a budding entrepreneur or change leader looking to start your first venture, a founder looking for guidance on your business, or interested in being more entrepreneurial wherever you are, we look forward to helping you build an entrepreneurial mindset with our collection of videos, events, and courses.
      </p>
    </div>
    <div class="about-section mobile-view">
      <div class="site-info">
        <%=  image_tag "speaker-icon.png", :class => "info-img" %>
        <div class="info-text">
          <h3>SPEAKER SERIES</h3>
          <p>Learn from noted entrepreneurs such as Elon Musk of Tesla & SpaceX, Tony Hsieh of Zappos, or Leah Busque of TaskRabbit in our Speaker Series, edited to provide quick lessons from their experience building their companies and leading the charge in their respective industries. </p>
        </div>
      </div>
      <div class="site-info">
        <%=  image_tag "livestream-icon.png", :class => "info-img" %>
        <div class="info-text">
          <h3>LIVESTREAM EVENTS</h3>
          <p>Join us in our Livestream Events to watch live as our speakers present to students at Draper University, and have your questions answered live through Twitter: <%= link_to "@Draper_U", "http://www.twitter.com/draper_u" %>.</p>
        </div>
      </div>
      <div class="site-info">
        <%=  image_tag "student-icon.png", :class => "info-img" %>
        <div class="info-text">
          <h3>STUDENT PITCHES & TESTIMONIALS</h3>
          <p>See the future with our Student Pitches and watch them pitch their startups and launch their careers onstage to a panel of Silicon Valley VC and startup executives.</p>
        </div>
      </div>
      <div class="site-info">
        <%=  image_tag "course-icon.png", :class => "info-img" %>
        <div class="info-text">
          <h3>COURSES</h3>
          <p>Follow our curated Courses with interactive activities, speaker videos, and online discussions to learn more about entrepreneurship. Our Courses will challenge you to apply the entrepreneurial mindset to your life every day, in every way.</p>
        </div>
      </div>
    </div>
    <div class="about-section">
      <h3>THE TEAM</h3>
      <div class="team-members">
        <div class="team-member">
          <%=  image_tag "hubert.png", :class => "member-img" %>
          <%= link_to "https://www.linkedin.com/in/hubertka", target: '_blank' do %>
            <p class="member-name">Hubert Ka</p>
          <% end %>
          <p class="member-position">Product Manager</p>
          <%= mail_to "hubert@draperuniversity.com" do %>
            <p class="member-email">hubert@draperuniversity.com</p>
          <% end %>
        </div>
        <div class="team-member">
          <%=  image_tag "mitch.png", :class => "member-img" %>
          <%= link_to "https://www.linkedin.com/in/mitchel-mejia-31127528", target: '_blank' do %>
            <p class="member-name">Mitchel Mejia</p>
          <% end %>
          <p class="member-position">Digital Media Producer</p>
          <%= mail_to "mitch@draperuniversity.com" do %>
            <p class="member-email">mitch@draperuniversity.com</p>
          <% end %>
        </div>
        <div class="team-member">
          <%=  image_tag "andy.png", :class => "member-img" %>
          <%= link_to "https://www.linkedin.com/in/andy-lee-aa804865", target: '_blank' do %>
            <p class="member-name">Andy Lee</p>
          <% end %>
          <p class="member-position">Developer</p>
          <%= mail_to "alee@draperuniversity.com" do %>
            <p class="member-email">alee@draperuniversity.com</p>
          <% end %>
        </div>
      </div>
      <div class="former-staff">
        <p>Former staff members:</p>
        <%= link_to "https://www.linkedin.com/in/lorenzo-castillo-88098137", target: '_blank' do %>
          <h3>Lorenzo Castillo</h3> <br>
        <% end %>
        <%= link_to "https://www.linkedin.com/in/yadfaeq", target: '_blank' do %>
          <h3>Yad Faeq</h3> <br>
        <% end %>
        <%= link_to "https://www.linkedin.com/in/hsiakenneth", target: '_blank' do %>
          <h3>Kenneth Hsia</h3> <br>
        <% end %>
      </div>
    </div>
    <div class="about-section last">
      <h3>DRAPER ECOSYSTEM</h3>
      <p>DraperTV is a Draper University product. <%= link_to "Draper University", "http://www.draperuniversity.com", target: '_blank' %> runs various programs that works intensively with students from all across the entrepreneurial spectrum to teach and prepare them to find investment and build successful startups. These programs include our 7 week <%= link_to "Residential Program", "http://www.draperuniversity.com/residential", target: '_blank' %>, our 2 week <%= link_to "Executive Education", "http://www.draperuniversity.com/executive", target: '_blank' %> course, our 9 month <%= link_to "Masters Program", "http://www.draperuniversity.com/masters/", target: '_blank' %>, and our co-working space/incubator, <%= link_to "Hero City", "http://www.herocity.com", target: '_blank' %>.
      </p>
    </div>
  </div>
  <div class="about-right">
    <div class="about-section">
      <div class="site-info">
        <%=  image_tag "speaker-icon.png", :class => "info-img" %>
        <div class="info-text">
          <%= link_to "/speakers" do %>
            <h3>SPEAKER SERIES</h3>
          <% end %>
          <p>Learn from noted entrepreneurs such as Elon Musk of Tesla & SpaceX, Tony Hsieh of Zappos, or Leah Busque of TaskRabbit in our Speaker Series, edited to provide quick lessons from their experience building their companies and leading the charge in their respective industries. </p>
        </div>
      </div>
      <div class="site-info">
        <%=  image_tag "livestream-icon.png", :class => "info-img" %>
        <div class="info-text">
          <%= link_to livestreams_path do %>
            <h3>LIVESTREAM EVENTS</h3>
          <% end %>
          <p>Join us in our Livestream Events to watch live as our speakers present to students at Draper University, and have your questions answered live through Twitter: <%= link_to "@Draper_U", "http://www.twitter.com/draper_u" %>.</p>
        </div>
      </div>
      <div class="site-info">
        <%=  image_tag "student-icon.png", :class => "info-img" %>
        <div class="info-text">
          <%= link_to "/speakers" do %>
            <h3>STUDENT PITCHES & TESTIMONIALS</h3>
          <% end %>
          <p>See the future with our Student Pitches and watch them pitch their startups and launch their careers onstage to a panel of Silicon Valley VC and startup executives.</p>
        </div>
      </div>
      <div class="site-info">
        <%=  image_tag "course-icon.png", :class => "info-img" %>
        <div class="info-text">
          <%= link_to "http://courses.drapertv.com" do %>
            <h3>COURSES</h3>
          <% end %>
          <p>Follow our curated Courses with interactive activities, speaker videos, and online discussions to learn more about entrepreneurship. Our Courses will challenge you to apply the entrepreneurial mindset to your life every day, in every way.</p>
        </div>
      </div>
    </div>
  </div>
</div>