<p id="notice"><%= notice %></p>

<p>
  <strong>Video:</strong>
  <%= @video_feature.video_id %>
</p>

<p>
  <strong>Type qwatch:</strong>
  <%= @video_feature.type_qwatch %>
</p>

<p>
  <strong>Type series:</strong>
  <%= @video_feature.type_series %>
</p>

<%= link_to 'Edit', edit_video_feature_path(@video_feature) %> |
<%= link_to 'Back', video_features_path %>
