<% @livestreams.each do |content| %>
  <%= link_to media_path(content), :class => "disabled" do %>
    <div class="media-thumbnail <%= content.industries %>" data-date="<%= content.seconds_elapsed_since_creation %>" data-speaker="<%= content.speaker_name %>" data-views="<%= rand(10000) %>">
      <div class="media-date">
        <%= content.formatted_stream_date %>
      </div>
      <div class="media-info">
        <div class="media-speaker-name">
          <%= content.speaker_name %>
        </div>
        <div class="media-title">
          <%= content.thumbnail_title%>
        </div>
      </div>
      <%= image_tag content.vthumbnail.url(:seriesthumb), :class => "thumbnail-img" %>
      <div class="thumbnail-gradient"></div>
      <div class="thumbnail-description"><p><%= content.description %></p></div>
    </div>
  <% end %>
<% end %>