<div class="content livestream">
  <%= link_to livestream_path(livestream), :class => "content-link" do %>
    <%= image_tag livestream.vthumbnail_url, :class => "livestream-thumbnail" %>
    <div class="content-text livestream-text">
      <div class="content-title">
        <h3><%= livestream.title %></h3>
      </div>
      <div class="content-date">
        <h4><span class="green">Livestream </span>- <%= livestream.formatted_stream_date %></h4>
      </div>
    </div>
  <% end %>
  <div class="content-expand">
    <div class="content-expand-header">
      <div class="arrow"></div>
      <p>About</p>
    </div>
    <div class="content-expand-content hide-section">
      <p>
        <%= livestream.description[0..275] %><%= "..." if livestream.description.length > 300 %>
      </p>
    </div>
  </div>
</div>