<div id="content-container">
	<div class="section-content">
		<% @livestreams.each do |livestream_collection| %>
			<h2 class="section-title"><%= livestream_collection[:title] %></h2>
				<div id="livestreams">
					<% livestream_collection[:collection].each do |livestream| %>
						<div class="search-result">
							<div class="livestream-pic-container video">
								<%= link_to livestream_path(livestream) do %>
									<%= image_tag livestream.image_url, :class => "result-pic" %>
								<% end %>
							</div>
							<div class="result-info-container">
								<%= link_to livestream_path(livestream) do %>
									<h3 class="result-title"><%= livestream.title %></h3>
									<div class="result-subinfo">
										<p class="result-date livestream-date"><%= livestream.formatted_stream_date %></p>
										<p class="livestream-description no-mobile"><%= allow_line_break livestream.description %></p>
									</div>
								<% end %>
							</div>
						</div>
					<% end %>
				</div>
		<% end %>
	</div>
	<%= render partial: "layouts/footer" %>
</div>
