<div class="featured-item header-banner">
  <%= image_tag "livestreams.png", :class => "featured-video "%>
  <div class="featured-gradient">
  </div>
  <div class="banner-content">
    <h3 class="banner-title">Livestreams</h3>
    <p class="banner-desc">Watch live as top Silicon Valley speakers teach startup skills and entrepreneurship at Draper University. Be part of the action on DraperTV with live Q&A through @Draper_U on Twitter.</p>
  </div>
</div>
<div class="sort-bar">
  <div class="notify-button show-notify-modal">
    <%= image_tag "notify-white.png", :class => "notify-icon" %> 
    <p>Notify Me</p>
  </div>
  <div class="sort-options">
    <div>Sorted By:</div>
    <div class="order-sort sorter">
      <p>Newest</p >
      <%= image_tag "dropdown-triangle.svg", :class => 'open-dropdown' %>
      <ul class="sort-dropdown">
        <li class="current" data-sort-criteria="date" data-sort-direction="asc">Newest</li>
        <li data-sort-criteria="date" data-sort-direction='desc'>Oldest</li>
        <li data-sort-criteria="speaker" data-sort-direction='asc'>Speaker A-Z</li>
        <li data-sort-criteria="speaker" data-sort-direction='desc'>Speaker Z-A</li>
        <li data-sort-criteria="views" data-sort-direction='desc'>Most Viewed</li>
      </ul>
    </div>
    <div class="industry-sort sorter">
      <p>All Industries</p>
      <%= image_tag "dropdown-triangle.svg", :class => 'open-dropdown' %>
      <ul class="sort-dropdown">
        <li class="current">All Industries</li>
        <li>Industry 1</li>
        <li>Industry 2</li>
        <li>Industry 3</li>
        <li>Industry 4</li>
        <li>Industry 5</li>
        <li>Industry 6</li>
        <li>Industry 7</li>
        <li>Industry 8</li>
        <li>Industry 9</li>
        <li>Industry 10</li>
      </ul>
    </div>
  </div>
</div>

<section class="media-container index-view">
  <% @media.each do |media| %>
    <div class="media-list">
      <h3 class="media-title"><%= media[:title] %></h3>
      <div class="media-thumbnails wrap <%= media[:lazy_load] %> sortable">
        <% media[:content].each do |content| %>
          <% unless media[:lazy_load] %>
            <%= link_to media_path(content) do %>
              <div class="media-thumbnail">
                <div class="media-date">
                  <%= content.formatted_stream_date %>
                </div>
                <div class="media-info">
                  <div class="media-speaker-name">
                    <%= content.speaker_name %>
                  </div>
                  <div class="media-title">
                    <%= content.thumbnail_title%>
                  </div>
                </div>
                <%= image_tag content.vthumbnail.url, :class => "thumbnail-img" %>
                <div class="thumbnail-gradient"></div>
                <div class="thumbnail-description"><%= content.description %></div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <% if media[:lazy_load] %>
        <div id="load-more" offset="0">
          Show More
        </div>
      <% end %>
    </div>
  <% end %>
</section>
