<%= content_for :link_overlay do %>
  <a href="#" class="background-link disabled"></a>
<% end %>
<div class="section-head livestream">
  <div class="overlay">
  </div><div class="gradient">
  </div>
  <div class="horizontal-gradient">
  </div>
  <div class="content">
    <%= image_tag "livestream-black.png", :class => "icon" %>
    <h1>LIVESTREAM EVENTS</h1>
    <p>Watch live as top Silicon Valley speakers teach startup skills and entrepreneurship at Draper University. Be part of the action on DraperTV with live Q&amp;A through @Draper_U on Twitter.</p>
  </div>
  <div class="image"></div>
</div>
<div class="sort-bar">
  <div class="action-icon teal-item show-notify-modal expanded livestream">
    <%= image_tag "notify-icon.svg", :class => "notify-icon svg" %>
    <p>Notify Me</p>
  </div>
  <div class="sort-options">
  </div>
</div>

<section class="media-container index-view">
  <% @media.each do |media| %>
    <% next if media[:hide] %>
    <div class="media-list">
      <h3 class="media-title"><%= media[:title] %></h3>
      <div class="media-thumbnails wrap <%= media[:lazy_load] %> sortable">
        <% media[:content].each do |content| %>
          <% unless media[:lazy_load] %>
            <%= link_to media_path(content), :class => "disabled" do %>
              <div class="media-thumbnail livestream <%= content.category_name %>">
                <div class="media-date">
                  <%= content.formatted_stream_date %>
                </div>
                <div class="media-info">
                  <div class="media-speaker-name">
                    <%= content.speaker_name %>
                  </div>
                  <div class="media-title">
                    <%= content.thumbnail_title%>
                  </div>
                </div>
                <%= image_tag content.vthumbnail.url, :class => "thumbnail-img" %>
                <div class="thumbnail-gradient"></div>
                <div class="thumbnail-description"><%= content.html_description %></div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <% if media[:lazy_load] %>
        <div id="load-more" offset="0">
          Show More
        </div>
      <% end %>
    </div>
  <% end %>
</section>
<script>
  $(document).ready(function() {
    var height = $('footer').height()
    $('.media-container').css('min-height', 'calc(100vh - 130px - ' + height + 'px)')
  })    
</script>