<div id="content-container">
	<div class="section-content">
		<h2 class="section-title">UPCOMING LIVESTREAMS</h2>
		<div id="livestreams">
			<% @upcoming_livestreams.each do |livestream| %>
				<div class="search-result">
					<div class="livestream-pic-container video">
						<%= link_to livestream_path(livestream) do %>
							<%= image_tag livestream.image_url, :class => "result-pic" %>
						<% end %>
					</div>
					<div class="result-info-container">
						<%= link_to livestream_path(livestream) do %>
							<h3 class="result-title"><%= livestream.title %></h3>
							<div class="result-subinfo">
								<p class="result-date livestream-date"><%= livestream.formatted_stream_date %></p>
								<p class="livestream-description no-mobile"><%= allow_line_break livestream.description %></p>
							</div>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>

		<h2 class="section-title">PAST LIVESTREAMS</h2>
		<div id="livestreams">
			<% @past_livestreams.each do |livestream| %>
				<div class="search-result">
					<div class="livestream-pic-container video">
						<%= link_to livestream_path(livestream) do %>
							<%= image_tag livestream.image_url, :class => "result-pic" %>
						<% end %>
					</div>
					<div class="result-info-container">
						<%= link_to livestream_path(livestream) do %>
							<h3 class="result-title"><%= livestream.title %></h3>
							<div class="result-subinfo">
								<p class="result-date livestream-date"><%= livestream.formatted_stream_date %></p>
								<p class="livestream-description no-mobile"><%= allow_line_break livestream.description %></p>
							</div>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>

	</div>
  <footer id="landing-footer" class="landing-section no-mobile">
  <div class="section-content">
    <!-- <div class="footer-item">
      <p class="footer-item-title blue">DRAPER<span class="italic bold">TV</span></p>
      <p class="footer-item-link">About</p>
      <p class="footer-item-link">Contact Us</p>
    </div>

    <div class="footer-item">
      <p class="footer-item-title green">UPGRADE</p>
      <p class="footer-item-link">DRAPER<span class="italic bold">TV</span>+</p>
    </div>

    <div class="footer-item">
      <p class="footer-item-title orange">HELP</p>
      <p class="footer-item-link">Basics</p>
      <p class="footer-item-link">FAQ</p>
    </div> -->

    <p class="footer-notes">
      All rights reserved, Draper Collective, LLC.
    </p>
  </div>
</footer>
</div>
