<div class="featured-item header-banner">
  <%= image_tag "livestreams.png", :class => "featured-video "%>
  <div class="featured-gradient">
  </div>
  <div class="banner-content">
    <h3 class="banner-title">Livestreams</h3>
    <p class="banner-desc">Watch live as top Silicon Valley speakers teach startup skills and entrepreneurship at Draper University. Be part of the action on DraperTV with live Q&A through @Draper_U on Twitter.</p>
  </div>
</div>
<div class="sort-bar">
  <div class="notify-button">
    Notify Me
  </div>  
  <div class="sort-options">
  </div>
</div>

<section class="media-container index-view">
  <% @media.each do |media| %>
    <div class="media-list">
      <h3 class="media-title"><%= media[:title] %></h3>
      <div class="media-thumbnails wrap <%= media[:lazy_load] %>">
        <% media[:content].each do |content| %>
          <% unless media[:lazy_load] %>
            <%= link_to media_path(content) do %>
              <div class="media-thumbnail">
                <div class="media-date">
                  <%= content.formatted_stream_date %>
                </div>
                <div class="media-info">
                  <div class="media-speaker-name">
                    <%= content.speaker_name %>
                  </div>
                  <div class="media-title">
                    <%= content.thumbnail_title%>
                  </div>
                </div>
                <%= image_tag content.vthumbnail.url, :class => "thumbnail-img" %>
                <div class="thumbnail-gradient"></div>
                <div class="thumbnail-description"><%= content.description %></div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <% if media[:lazy_load] %>
        <div id="load-more" offset="0">
          Show More
        </div>
      <% end %>
    </div>
  <% end %>
</section>
