    <div class="scroll-percent-container no-mobile">
      <div class="scroll-grey"></div>
      <div class="scroll-green"></div>
      <div class="scroll-percent"></div>
    </div>
    <section class="main">
      <div class="section-title">
        <h1>LIVESTREAMS</h1>
      </div>
      <div class="section-content-list">
        <% if @upcoming_livestreams.length + @current_livestreams.length < 1 %>
          <div class="no-content">
            <i class="fa fa-video-camera"></i>
            <p>Looks like there aren't any live or upcoming Livestreams. Check out our past livestreams below!</p>
          </div>
        <% end %>
        <% (@current_livestreams + @upcoming_livestreams).each do |livestream| %>
          <div class="content livestream">
            <%= link_to livestream_path(livestream), :class => "content-link" do %>
              <%= image_tag livestream.image_url, :class => "livestream-thumbnail" %>
              <div class="content-text livestream-text">
                <div class="content-title">
                  <h3><%= livestream.title %></h3>
                </div>
                <% if livestream.live? %>
                  <div class="content-subtitle livestream-live">
                    <h4>Live Now</h4>
                  </div>
                <% else %>
                  <div class="content-date">
                    <h3><%= livestream.formatted_stream_date %></h3>
                  </div>
                <% end %>
              </div>
            <% end %>
            <div class="content-expand">
              <div class="content-expand-header">
                <div class="arrow"></div>
                <p>About</p>
              </div>
              <div class="content-expand-content hide-section">
                <p>
                  <%= livestream.description[0..275] %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="section-title">
        <h1>ARCHIVE</h1>
      </div>
      <div class="section-content-list">
        <% @past_livestreams.each do |livestream| %>
          <div class="content livestream">
            <%= link_to livestream_path(livestream), :class => "content-link" do %>
              <%= image_tag livestream.image_url, :class => "livestream-thumbnail" %>
              <div class="content-text livestream-text">
                <div class="content-title">
                  <h3><%= livestream.title %></h3>
                </div>
                <div class="content-date">
                  <h3><%= livestream.formatted_stream_date %></h3>
                </div>
              </div>
            <% end %>
            <div class="content-expand">
              <div class="content-expand-header">
                <div class="arrow"></div>
                <p>About</p>
              </div>
              <div class="content-expand-content hide-section">
                <p>
                  <%= livestream.description[0..275] %><%= "..." if livestream.description.length > 300 %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </section>

    <script>
      // alert("Javascript works!");
      $('.menu').on('click', function() {
        $('.menu-menu').toggleClass('hide-section');
      });
      $('.main').on('click', function() {
        $('.menu-menu').addClass('hide-section');
      });
      $('.search').on('click', function() {
        $('.menu, .logo, .search-box').toggleClass('hide-section');
      });

      $('.section-title-menu').on('click', function() {
        $('.categories').toggleClass('hide-section');
      });
      $('.content-expand-header').on('click', function() {
        $(this).next().toggleClass('hide-section');
        $(this).children('.arrow').toggleClass('rotate180');
      });
    </script>
