<section class="video-player-container livestream">
  <div class="video-player">
    <iframe src="<%= @livestream.src_url %>" height="240" frameborder="0" scrolling="no"></iframe>
  </div>
</section>
<section class="video-info">
  <div class="video-info-main">
    <h1 class="video-title">
      <%= @livestream.title.upcase %>
    </h1>
    <p class="video-speaker-info">
      <%= @livestream.title %>
    </p>

    <div class="video-about">
      <h3>About</h3>
      <p><%= @livestream.description %></p>
    </div>
  </div>

  <div class="video-info-side">
    <div class="video-info-item blue-item">Speaker Series</div>
    <div class="video-info-item teal-item">Notify Me</div>
  </div>
</section>
<section class="media-container single-row">
  <div class="media-list">
    <h3 class="media-title"><%= @media[:title] %></h3>
    <div class="media-thumbnails">
      <% @media[:content].each do |content| %>
        <div class="media-thumbnail">
          <div class="media-info">
            <div class="media-speaker-name">
              <%= content.speaker_name %>
            </div>
            <div class="media-title">
              <%= content.thumbnail_title%>
            </div>
          </div>
          <%= image_tag content.vthumbnail.url, :class => "thumbnail-img" %>
          <div class="thumbnail-gradient"></div>
          <div class="thumbnail-description"><p><%= content.description %></p></div>
        </div>
      <% end %>
    </div>
  </div>
</section>





