<section class="lightbox">
  <div class="videobox livestream">
    <div class="videoplayer">
      <iframe src="<%= @livestream.src_url %>" height="240" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
</section>

<section class="video-info">
  <div class="video-info-main">
    <h1 class="video-title">
      <%= @livestream.speaker_name.upcase %>
    </h1>
    <p class="video-speaker-info">
      <%= @livestream.speaker_position %>
    </p>

    <div class="video-actions">
      <div class="action-icon red-item expanded">
        <%= image_tag "livestream-icon.png", :class => "notify-icon svg non-hover" %>
        <p>Livestream Series</p>
      </div>
      <div class="action-icon teal-item show-notify-modal expanded">
        <%= image_tag "notify-icon.svg", :class => "notify-icon svg" %>
        <p>Notify Me</p>
      </div>
    </div>

    <div class="video-about">
      <h3>About</h3>
      <p><%= @livestream.html_description  %></p>
    </div>
  </div>

  <div class="video-info-side">
    <div class="action-icon red-item expanded">
      <%= image_tag "livestream-icon.png", :class => "notify-icon svg non-hover" %>
      <p>Livestream Series</p>
    </div>
    <div class="action-icon teal-item show-notify-modal expanded">
      <%= image_tag "notify-icon.svg", :class => "notify-icon svg" %>
      <p>Notify Me</p>
    </div>
  </div>
</section>
<section class="media-container single-row">
  <div class="media-list">
    <h3 class="media-title"><%= @media[:title] %></h3>
    <div class="media-thumbnails">
      <% @media[:content].each do |content| %>
        <%= link_to media_path(content), :class => "disabled" do %>
          <div class="media-thumbnail">
            <div class="media-info">
              <div class="media-speaker-name">
                <%= content.speaker_name %>
              </div>
              <div class="media-title">
                <%= content.speaker_position%>
              </div>
            </div>
            <%= image_tag content.vthumbnail.url, :class => "thumbnail-img" %>
            <div class="thumbnail-gradient"></div>
            <div class="thumbnail-overlay-gradient"></div>
            <div class="thumbnail-description"><p><%= content.description %></p></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
