<div id="content-container">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { id: "login-form"}) do |f| %>
    <h2 id="form-header">Login</h2>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.email_field :email, :autofocus => true, class: 'login-field', placeholder: "Email" %>
    </div>
    <div class="form-group">
      <%= f.password_field :password, class: 'login-field', placeholder: "password" %>
    </div>
    <button type="submit" class="login-btn">Sign In</button>
    <%- if devise_mapping.recoverable? %>
      <div class="text-center m-t m-b">
        <%= link_to(new_password_path(resource_name)) do %>
            <small>Forgot password?</small>
        <% end %>
      </div>
    <% end -%>
  <% end %>
</div>