<div class="scroll-percent-container no-mobile">
  <div class="scroll-grey"></div>
  <div class="scroll-green"></div>
  <div class="scroll-percent"></div>
</div>
<div class="main">
  <div class="section-title">
    <h1>"<%= @terms %>"</h1>
    <h4><%= @count %> results</h4>
  </div>
  <div class="results">
    <% @results.each do |result| %>
      <% if result.class == Video || result.class == Challenge %>
         <div class="content">
          <%= link_to result_path(result), :class => "content-link" do %>
            <%= image_tag result.thumbnail(:seriesthumb), :class => "series-thumbnail" %>
            <div class="content-text livestream-text">
              <div class="content-title">
                <h3><%= result.title %></h3>
              </div>
              <div class="content-subtitle">
                <h4><%= result.publish_date %></h4>
              </div>
            </div>
          <% end %>
          <div class="content-expand">
            <div class="content-expand-header">
              <div class="arrow"></div>
              <p>About</p>
            </div>
            <div class="content-expand-content hide-section">
              <p>
                <%= result.description %>
              </p>
            </div>
          </div>
        </div>
      <% else %>
        <div class="content">
          <%= link_to playlist_link(@browser, result), :class => "content-link" do %>
            <%= image_tag result.videos.first.vthumbnail_url(:seriesthumb), :class => "series-thumbnail" %>
            <div class="content-text">
              <div class="content-title">
                <h3><%= result.title %></h3>
              </div>
              <div class="content-subtitle">
                <h4><%= result.name %></h4>
              </div>
            </div>
          <% end %>
          <div class="content-expand">
            <div class="content-expand-header">
              <div class="arrow"></div>
              <p><%= result.videos.count %> videos</p>
            </div>
            <div class="content-expand-content hide-section">
              <% result.videos.each do |video| %>
                <%= link_to video_path(video) do %>
                  <div class="video">
                    <p class="video-title"><%= video.title %></p>
                    <p class="video-subtitle"><%= video.length %></p>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  $('#search_terms').val("<%= @terms %>")
  history.pushState({state:1}, "State 1", "?terms=<%= @terms %>")
</script>
