<div class="featured-item header-banner">
  <% series = Series.first %>
  <%=  image_tag series.first_video.vthumbnail_url, :class => "featured-video "%>
  <div class="featured-gradient">
  </div>
  <div class="banner-content">
    <h3 class="banner-title">Search Results for '<%= @terms %>'</h3>
  </div>
</div>
<div class="sort-bar">
  <div></div> 
  <div class="sort-options">
    <div>Sorted By:</div>
    <div class="date-sort">Newest</div>
    <div class="industry-sort">All Industries</div>
  </div>
</div>

<section class="media-container">
  <div class="media-list">
    <div class="media-thumbnails wrap">
      <% @results.each do |content| %>
        <div class="media-thumbnail">
          <div class="media-info">
            <div class="media-speaker-name">
              <%= content.speaker_name %>
            </div>
            <div class="media-title">
              <%= content.thumbnail_title %>
            </div>
          </div>
          <%= image_tag content.vthumbnail_url(:seriesthumb), :class => "thumbnail-img" %>
          <div class="thumbnail-gradient"></div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<script type="text/javascript">
  window.location = "?terms=<%= @terms %>"
</script>
