<div class="scroll-percent-container no-mobile">
  <div class="scroll-grey"></div>
  <div class="scroll-green"></div>
  <div class="scroll-percent"></div>
</div>
<div class="main">
  <div class="section-title">
    <h1>"<%= @terms %>"</h1>
    <h4><%= @count %> results</h4>
  </div>
  <div class="results">
    <% @results.each do |result| %>
      <%= render partial: "#{result.class.to_s.downcase.pluralize}/show", locals: {result.class.to_s.downcase.to_sym => result} %>
    <% end %>
  </div>
</div>

<script>
  $('#search_terms').val("<%= @terms %>")
  history.pushState({state:1}, "State 1", "?terms=<%= @terms %>")

  $('.results h3, .results h4, .results p').each(function() {
    console.log($(this).html())
    $(this).html($(this).html().replace(/(<%= @terms %>)/gi, "<span class='highlighted'>$1</span>"))
  })
</script>
