<div class="sort-bar">
  <div>
    <h3 class="search-description">Search Results for '<%= @terms %>'</h3>
  </div> 
  <div class="sort-options">
    <div>Sorted By:</div>
    <div class="date-sort">Newest</div>
    <div class="industry-sort">All Industries</div>
  </div>
</div>

<section class="media-container index-view">
  <div class="media-list">
    <div class="media-thumbnails wrap">
      <% @results.each do |content| %>
        <div class="media-thumbnail">
          <div class="media-info">
            <div class="media-speaker-name">
              <%= content.speaker_name %>
            </div>
            <div class="media-title">
              <%= content.thumbnail_title %>
            </div>
          </div>
          <%= image_tag content.vthumbnail_url(:seriesthumb), :class => "thumbnail-img" %>
          <div class="thumbnail-gradient"></div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<script type="text/javascript">
  history.pushState({state:1}, "State 1", "?terms=<%= @terms %>")
</script>
