<div class="content course">
  <%= link_to chapter.url, :class => "content-link" do %>
    <%= image_tag chapter.image_url, :class => "series-thumbnail" %>
    <div class="content-text">
      <div class="content-title">
        <h3>Chapter <%= chapter.number %>: <%= chapter.name %></h3>
      </div>
      <div class="content-subtitle">
        <h4 class="<%= @colors[@categories.index(chapter.topic_name.downcase.split(" ").map(&:capitalize).join(" "))] %>"><span class="yellow">Courses - </span><%= chapter.topic_name.downcase.capitalize %></h4>
      </div>
    </div>
  <% end %>
  <div class="content-expand">
    <div class="content-expand-content hide-section">
      <p class="content-summary">
        <%= chapter.summary %>
      </p>
    </div>
    <div class="content-expand-header no-desk">
      <div class="arrow"></div>  
    </div>
    <div class="content-expand-content lessons hide-section">
      <p>Lessons:</p>
      <% chapter.lessons.each_with_index do |lesson, i| %>
        <p class="lesson"><%= i + 1 %>. <%= lesson.split("- ")[0] %></p>
      <% end %>
    </div>
  </div>
</div>