<div class="featured-playlists">
	<% VideoFeature.currently_featured_playlists.each do |video_feature| %>
	  <% video = video_feature.video %>
	  <div class="featured-playlist">
		  <p class="featured-playlist-title">
		  	<%= video.playlist.title %>
		  </p>
		  <div class="featured-playlist-main">
			  <div class="series-speaker">
			    <%= image_tag video_feature.profilepic_url(:seriesthumb), :class => "pull-left speaker-pic" %>
			    <p class="speaker-name">
			     <%= video_feature.name %>
			    </p>
			    <div class="speaker-title"><%= video.speaker.title || "CEO & Founder" %></div>
			  </div>
			  <div class="video-item-container">
				  <div class="video-img">
			       <a href="<%= video_path(video) %>">
			          <%= image_tag 'play-icon.png', :class => "video-play" %>
			       </a>
				    <span class="section-time"> 3:45 </span>
				    <a href="#"><img src="<%= video.vthumbnail %>"  alt="" class="video-thumbnail"></a>
				  </div>
				  <div class="video-info">
				    <%= link_to video_path(video) do %>
				    	<p class="text-ellipsis qwatch-title"><%= video.title %></p>
				    <% end %>
				    <p class="text-ellipsis video-stats"> <%= video.view_count %> Views • <%= video.get_upvotes.size %>
				    	<%= image_tag 'fav-button.svg', :class => "fav-star" %></p>
				  </div>
				</div>
			</div>
		</div>
	<% end %>
</div>