<div class="series-header">
  <h2 class="series-title">
    <%= playlist.title %>
  </h2>
  <div class="series-actions">
    <p class="challenge-text">
      <% if playlist.challenge %>
        Challenge: <%= playlist.challenge.title %>
      <% else %>
        Challenge: Placeholder Challenge
      <% end %>
    </p>
    <div class="challenge-btn"></div>
    <div class="green-btn series-price">
      Full Series <span class="bold">$<%= playlist.price %></span>
    </div>
  </div>
</div>
<div class="series-content">
  <div class="series-speaker">
    <%= image_tag playlist.profilepic_url(:seriesthumb), :class => "pull-left speaker-pic" %>
    <p class="speaker-name">
     <%= playlist.name %>
    </p>
    <p class="speaker-title"><%= playlist.speaker.title || "CEO & Founder" %></p>
  </div>
  <div class="white-gradient left no-mobile hidden">
  </div>
  <%= image_tag 'scroll-arrow.png', :class => "scroll-arrow left no-mobile hidden" %>
  <div class="white-gradient right no-mobile"></div>
  <%= image_tag 'scroll-arrow.png', :class => "scroll-arrow right no-mobile" %>
  <div class="series-videos">
    <% playlist.videos.each do |video| %>
      <div class="series-video">
        <div class="video-length">3:59</div>
        <a href="<%= video_path(video) %>">
          <%= image_tag 'play-icon.png', :class => "video-play" %>
        </a>
        <%= image_tag video.vthumbnail, :class => "video-thumbnail" %>
        <div class="video-info">
          <a href="#" class="text-ellipsis qwatch-title"><%= video.title %></a>
          <p class="video-stats text-ellipsis"> <%= video.view_count %> Views • <%= video.get_upvotes.size %> 
          <%= image_tag 'fav-button.svg', :class => "fav-star" %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>