<div class="series-header">
  <h2 class="series-title">
    <%= playlist.title %>
  </h2>
  <div class="series-actions">
  <!--   <p class="challenge-text">
      <% if playlist.challenge %>
        Challenge: <%= playlist.challenge.title %>
      <% else %>
        Challenge: Placeholder Challenge
      <% end %>
    </p>
    <div class="challenge-btn"></div> -->
<!--     <div class="green-btn series-price">
      Full Series <span class="bold">$<%= playlist.price %></span>
    </div> -->
  </div>
</div>
<div class="series-content">
  <div class="series-speaker">
    <%= image_tag playlist.profilepic_url(:seriesthumb), :class => "pull-left speaker-pic" %>
    <p class="speaker-name">
     <%= playlist.name.upcase %>
    </p>
    <p class="speaker-title"><%= playlist.speaker.title || "CEO & Founder" %></p>
  </div>
  <div class="white-gradient left no-mobile hidden">
  </div>
  <%= image_tag 'scroll-arrow.png', :class => "scroll-arrow left no-mobile hidden" %>
  <div class="white-gradient right no-mobile"></div>
  <%= image_tag 'scroll-arrow.png', :class => "scroll-arrow right no-mobile" %>
  <div class="series-videos">
    <% playlist.videos.each do |video| %>
      <div class="series-video">
        <div class="video-length"><%= video.length %></div>
        <a href="<%= video_path(video) %>">
          <%= image_tag 'play-icon.png', :class => "video-play" %>
          <%= image_tag video.vthumbnail_url, :class => "video-thumbnail" %>
        </a>
        <div class="video-info">
          <%= link_to video_path(video) do %>
            <p class="text-ellipsis qwatch-title"><%= video.title %></p>
          <% end %>
           <p class="text-ellipsis video-stats"> <span><%= video.view_count %> Views &nbsp;•  &nbsp; <%= video.get_upvotes.size %></span>
            <%= image_tag 'fav-button.svg', :class => "fav-star" %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>