<section class="main home" id="mobile-wrapper">
<%= render partial: "livestreams/banner" %>
  <% if @browser.mobile? || @browser.tablet? %>
    <div class="featured-carousel no-desk">
      <% @featured.each_with_index do |playlist, i| %>
        <%= link_to playlist_link(browser, playlist) do %>
          <div class="featured-item" style='background-image: url(<%= url_for(playlist.first_video.vthumbnail_url) %>);'>
            <div class="featured-overlay">
              <div class="featured-text">
                <h3><%= playlist.name %></h3>
                <h1><%= playlist.title %></h1>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= render partial: "carousel", locals: {html_class: "no-mobile" } %>
  <% else %>
    <%= render partial: "carousel", locals: {html_class: nil }  %>
  <% end %>
  <div class="tagline-container no-mobile">
    <p class="tagline">Entrepreneurship & Startups broken down</p>
    <p class="tagline-sub">Startup knowledge for every stage. Pick a topic below to get started.</p>
  </div>


  <div class="featured-tabs">
    <button class="featured-popular blue tabs-selected" data-show="featured-popular-content">
      <h3 class="blue">Popular</h3>
    </button>
    <button class="featured-new" data-show="featured-new-content">
      <h3 class="green">New</h3>
    </button>
    <button class="featured-topics orange no-desk" data-show="featured-topics-content">
      <h3 class="orange">Topics</h3>
    </button>
  </div>

  <div class="featured-popular-content content-list">
    <% @popular.each do |media| %>
      <% if media.class == Playlist %>
        <%= render partial: "playlists/show", locals: {playlist: media} %>
      <% else %>
        <%= render partial: "livestreams/show", locals: {livestream: media} %>
      <% end %>
    <% end %>
  </div>

  <div class="featured-new-content content-list hide-section">
    <% @new.each do |playlist| %>
      <%= render partial: "playlists/show", locals: {playlist: playlist} %>
    <% end %>
  </div>

  <div class="featured-topics-content content-list hide-section">
    <div class="featured-categories">
      <% @categories.each_with_index do |cat, i| %>
        <div class="vertical flip-container <%= 'no-hover' if @browser.mobile? || @browser.tablet? %>">
          <h3 class="<%= @colors[i] %>"><%= cat.upcase %></h3>
          <div class="flipper">
            <div class="front">
              <%= link_to playlists_path(category: cat), :class => "categories-item" do %>
                <div class="categories-icon <%= cat.downcase.gsub(" ", "") %>-icon">
                  <%= image_tag "#{cat.gsub(" ", "-").downcase}-icon.png", :class => "category-icon" %>
                </div>
              <% end %>
            </div>
            <div class="back no-mobile">
              <%= link_to playlists_path(category: cat), :class => "categories-item" do %>
                <div class="categories-icon <%= cat.downcase.gsub(" ", "") %>-icon"></div>
                <p class="series-count"><span><%= Playlist.tagged_with(cat).count %></span></br> Series</p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>  
</section>
