<section class="main home" id="mobile-wrapper">
  <div class="featured-carousel">
    <a href="#"><div class="featured-item featured-one animating">
      <div class="featured-overlay">
        <div class="featured-text">
          <h3>Elon Musk</h3>
          <h1>How to find problems worth solving</h1>
        </div>
      </div>
    </div></a>
    <a href="#"><div class="featured-item featured-two">
      <div class="featured-overlay">
        <div class="featured-text">
          <h3>Steve Jurvetson</h3>
          <h1>Disruptive Innovation</h1>
        </div>
      </div>
    </div></a>
    <a href="#"><div class="featured-item featured-three">
      <div class="featured-overlay">
        <div class="featured-text">
          <h3>Heidi Roizen</h3>
          <h1>Power up your Network</h1>
        </div>
      </div>
    </div></a>
    <a href="#"><div class="featured-item featured-three hidden">
      <div class="featured-overlay">
        <div class="featured-text">
          <h3>Heidi Roizen</h3>
          <h1>Power up your Network</h1>
        </div>
      </div>
    </div></a>
    <a href="#"><div class="featured-item featured-three hidden">
      <div class="featured-overlay">
        <div class="featured-text">
          <h3>Heidi Roizen</h3>
          <h1>Power up your Network</h1>
        </div>
      </div>
    </div></a>
  </div>
  <div class="tagline-container no-mobile">
    <p class="tagline">Entrepreneurships & Startups broken down</p>
    <p class="tagline-sub">Startup knowledge for every stage. Pick a topic below to get started.</p>
  </div>
  <div class="featured-tabs">
    <button class="featured-popular blue tabs-selected" data-show="featured-popular-content">
      <h3>Popular</h3>
    </button>
    <button class="featured-new" data-show="featured-new-content">
      <h3 class="green">New</h3>
    </button>
    <button class="featured-topics orange no-desk" data-show="featured-topics-content">
      <h3>Topics</h3>
    </button>
  </div>
  <div class="featured-popular-content content-list">
    <% @popular.each do |playlist| %>
      <div class="content">
        <%= link_to playlist_path(playlist), :class => "content-link" do %>
          <%= image_tag playlist.videos.first.vthumbnail_url(:seriesthumb), :class => "series-thumbnail" %>
          <div class="content-text">
            <div class="content-title">
              <h3><%= playlist.title %></h3>
            </div>
            <div class="content-subtitle">
              <h4><%= playlist.name %></h4>
            </div>
          </div>
        <% end %>
        <div class="content-expand">
          <div class="content-expand-header no-desk">
            <div class="arrow"></div>
            <p><%= playlist.videos.count %> videos</p>
          </div>
          <div class="content-expand-content hide-section">
            <% playlist.videos.each do |video| %>
              <%= link_to video_path(video) do %>
                <div class="video">
                  <p class="video-title"><%= video.title %></p>
                  <p class="video-subtitle"><%= video.length %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="featured-new-content content-list hide-section">
    <% @new.each do |playlist| %>
      <div class="content">
        <%= link_to playlist_path(playlist), :class => "content-link" do %>
          <%= image_tag playlist.videos.first.vthumbnail_url(:seriesthumb), :class => "series-thumbnail" %>
          <div class="content-text">
            <div class="content-title">
              <h3><%= playlist.title %></h3>
            </div>
            <div class="content-subtitle">
              <h4><%= playlist.name %></h4>
            </div>
          </div>
        <% end %>
        <div class="content-expand">
          <div class="content-expand-header no-desk">
            <div class="arrow"></div>
            <p><%= playlist.videos.count %> videos</p>
          </div>
          <div class="content-expand-content hide-section">
            <% playlist.videos.each do |video| %>
              <%= link_to video_path(video) do %>
                <div class="video">
                  <p class="video-title"><%= video.title %></p>
                  <p class="video-subtitle"><%= video.length %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="featured-topics-content content-list hide-section">
    <div class="featured-categories">
      <% @categories.each_with_index do |cat, i| %>
        <%= link_to playlists_path(category: cat), :class => "categories-item" do %>
          <div class="categories-icon <%= cat.downcase.gsub(" ", "") %>-icon"></div>
          <h3 class="<%= @colors[i] %>"><%= cat %></h3>
          <p class="series-count">24 Series</p>
        <% end %>
      <% end %>
    </div>
  </div>
</section>



