<section class="vbox">
  <section id="content">
    <section class="vbox" id="bjax-el">
      <section class="scrollable">
        <div class="playlist-container">
          <div class="section-content">
            <div id="featured-series">
              <h2 class="font-thin m-b section-title">FEATURED</h2>
              <div class="featured-videos">
                <% VideoFeature.where(:type_series => true).limit(5).each do |id| %>
                <% video = Video.find(id.video_id) %>
                   <div class="video-item-container">
                      <div class="video-img">
                        <% if video.can_be_accessed_by? current_user %>
                           <a href="<%= video_path(video) %>">
                              <%= image_tag 'play-icon.png', :class => "video-play" %>
                            </a>
                        <% else %>
                          <i class="fa fa-play-circle i-2x"></i>
                          <div class="modal modal-overlay">
                            <div class="modal-content video-modal">
                              <div class="modal-message">This video is video is only available for premium users. Click here to get premium access for $9.99.</div>
                            <%= link_to video_increment_demand_path(video), remote: true do %>
                              <div class="btn-primary btn m-t-lg">
                                Get Access
                              </div>
                            <% end %>
                            </div>
                          </div>
                        <% end %>
                        <div class="bottom">
                          <span class="section-time"> 3:45 </span>
                        </div>
                        <div class="top">
                          <span class="bg-dark m-l-sm m-t-sm pull-right"></span>
                        </div>
                        <a href="#"><img src="<%= video.vthumbnail %>"  alt="" class="video-thumbnail"></a>
                      </div>
                      <div class="padder-v">
                        <a href="#" class="text-ellipsis qwatch-title"><%= video.title %></a>
                        <p class="text-ellipsis text-xs text-muted"> 3045 Views * <%= video.get_upvotes.size %> <i class="fa fa-star stared"></i></p>
                      </div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="regular-series">
              <h2 class="font-thin m-b section-title">SERIES</h2>
              <% @playlists.each do |playlist| %>


              <section class="video-section">
                <div class="gray-border-bottom">
                  <div class="series-header">
                    <div class="pull-left series-title">
                      <%= playlist.title %>
                    </div>
                    <div class="pull-right green-btn series-price">
                      Full Series <span class="bold">$<%= playlist.price %></span>
                    </div>
                    <div class="pull-right challenge-btn"></div>
                    <div class="pull-right">
                      Challenge: Do Something Test Challenge : <%= playlist.challange_id %>
                    </div>
                  </div>
                  <div class="series-content">
                    <div class="series-speaker">
                    <%= image_tag Speaker.where(:id => playlist.author_id).first.profilepic, :class => "pull-left video-thumbnail" %>
                      <div class="speaker-name">Tony Hsieh</div>
                      <div class="speaker-title">CEO & Founder Zappos</div>
                    </div>
                      <div class="white-gradient left no-mobile hidden">
                      </div>
                      <%= image_tag 'scroll-arrow.png', :class => "scroll-arrow left no-mobile hidden" %>
                      <div class="white-gradient right no-mobile"></div>
                      <%= image_tag 'scroll-arrow.png', :class => "scroll-arrow right no-mobile" %>
                    <div class="series-videos">
                      <% playlist.video_ids.each do |v| %>
                        <% @video = Video.where(:id => v).first %>
                        <div class="series-video">
                          <div class="video-length">3:59</div>
                          <a href="<%= video_path(@video) %>">
                            <%= image_tag 'play-icon.png', :class => "video-play" %>
                          </a>
                          <%= image_tag @video.vthumbnail, :class => "video-thumbnail" %>
                          <div class="padder-v">
                            <a href="#" class="text-ellipsis qwatch-title"><%= @video.title %></a>
                            <p class="text-ellipsis text-xs text-muted"> 3045 Views * <%= @video.get_upvotes.size %> <i class="fa fa-star stared"></i></p>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <div class="series-footer no-mobile">

                  </div>
                </div>
              </section>

              <% end %>
            </div>
          </div>
        </div>
        <%= render partial: 'layouts/footer' %>

    </section>

  </section>


</section>