<section class="main playlist-page">
  <div class="scroll-percent-container no-mobile">
    <div class="scroll-grey"></div>
    <div class="scroll-green"></div>
    <div class="scroll-percent"></div>
  </div>
  <div class="section-title">
    <h1 class="<%= @color || "blue" %>"><%= @category ? @category.upcase : "SERIES" %></h1>
    <div class="section-title-menu">
      <%= image_tag 'menu-icon.png' %>
    </div>
  </div>
  <div class="categories hide-section">
    <% @categories.each_with_index do |cat , i| %>
      <%= link_to playlists_path(category: cat) do %>
        <h3 class="categories-item <%= @colors[i] %>"><%= cat %></h3>
      <% end %>
    <% end %>
  </div>
  <div class="section-content-list">
    <% @playlists.each do |playlist| %>
      <%= render partial: "show", locals: {playlist: playlist} %>
    <% end %>
  </div>
</section>
