<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @playlist.title %>
</p>

<p>
  <strong>Video:</strong>
  <%= @playlist.video_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @playlist.price %>
</p>

<p>
  <strong>Challange:</strong>
  <%= @playlist.challange_id %>
</p>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
