<section class="main">
  <div class="section-title playlist-title">
    <h2 class="blue">Series: <%= @playlist.title %></h2>
    <div class="playlist-info-container">
      <div class="playlist-title-column playlist-title-left">
        <a href="#">
          <h3><%= @playlist.name %></h3>
        </a>
        <h4>June 23, 2012</h4>
      </div>
      <div class="playlist-title-column playlist-title-right">
        <h3><%= @playlist.videos.count %> videos</h3>
          <p class="cyan">
            <% @playlist.category_list.each_with_index do |category, i| %>
              <% if category != "EXTRAS" && @categories.find_index(category.downcase.capitalize) %>
                <%= link_to playlists_path(category: category.downcase.capitalize) do %>
                  <span class="<%= @colors[@categories.find_index(category.downcase.capitalize)] %>"><% unless i == 0 %>, <% end %><%= category.upcase %></span>
                <% end %>
              <% end %>
            <% end %>
          </p>
      </div>
    </div>
  </div>

  <div class="section-content-list">
    <% @playlist.videos.order(:id).each do |video| %>
      <div class="content">
        <%= link_to video_path(video), :class => "content-link" do %>
          <%= image_tag video.thumbnail(:seriesthumb), :class => "series-thumbnail" %>
          <div class="content-text">
            <div class="content-title">
              <h3><%= video.title %></h3>
            </div>
            <div class="content-subtitle">
              <h4><%= video.length %></h4>
            </div>
          </div>
        <% end %>
        <div class="content-expand">
          <div class="content-expand-header">
            <div class="arrow"></div>
            <p>Description</p>
          </div>
          <div class="content-expand-content hide-section">
            <p>
              <%= video.description %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>