<section class="main">
  <div class="section-title playlist-title">
    <h2 class="blue">Series: <%= @playlist.title %></h2>
    <div class="playlist-title-column playlist-title-left">
      <a href="#">
        <h3><%= @playlist.name %></h3>
      </a>
      <h4>June 23, 2012</h4>
    </div>
    <div class="playlist-title-column playlist-title-right">
      <h3><%= @playlist.videos.count %> videos</h3>
      <a href="#">
        <p class="cyan">Starting Up</p>
      </a>
    </div>
  </div>
  <div class="section-content-list">
    <% @playlist.videos.each do |video| %>
      <div class="content">
        <%= link_to video_path(video), :class => "content-link" do %>
          <%= image_tag video.vthumbnail_url(:seriesthumb), :class => "series-thumbnail" %>
          <div class="content-text">
            <div class="content-title">
              <h3><%= video.title %></h3>
            </div>
            <div class="content-subtitle">
              <h4><%= video.length %></h4>
            </div>
          </div>
        <% end %>
        <div class="content-expand">
          <div class="content-expand-header">
            <div class="arrow"></div>
            <p>Description</p>
          </div>
          <div class="content-expand-content hide-section">
            <p>
              <%= video.description %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>