<div class="content">
  <% videos = series.videos.order(:id) %>
  <%= link_to series_link(@browser, series), :class => "content-link" do %>
    <%= image_tag videos.first.vthumbnail_url(:seriesthumb), :class => "series-thumbnail" %>
    <div class="content-text">
      <div class="content-title">
        <h3><%= series.title %></h3>
      </div>
      <div class="content-subtitle">
        <h4><span class="blue">Series - </span><%= series.name %></h4>
      </div>
    </div>
  <% end %>
  <div class="content-expand">
    <div class="content-expand-header no-desk">
      <div class="arrow"></div>
      <p><%= videos.count %> videos</p>
    </div>
    <div class="content-expand-content hide-section">
      <% videos.each do |video| %>
        <%= link_to video_path(video), data: {no_turbolink: true} do %>
          <div class="video">
            <p class="video-title"><%= video.title %></p>
            <p class="video-subtitle"><%= video.length %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>