<div class="featured-banner">
  <div class="featured-items">
    <div class="featured-item">
      <% series = @featured.first %>
        <div class="featured-video-container">
          <%= image_tag series.vthumbnail_url, :class => "featured-video "%>
          <%= link_to video_path(series.first_video) do %>
            <%= image_tag "attitudedone.svg", :class => "featured-play-btn" %>
          <% end %>
        </div> 
      <div class="featured-info">
        <h3><%= series.name %>, <%= series.speaker_title %></h3>
        <h1><%= series.title.upcase %></h1> 
        <div class="featured-action-icons">
          <div class="action-icon type-icon" data-width="128">
            <%= image_tag "attitudedone.svg", :class => "action-icon-img" %>
            <p class="action-icon-text">Speaker Series</p>
          </div>
          <div class="action-icon notify-icon show-notify-modal" data-width="93">
            <%= image_tag "attitudedone.svg", :class => "action-icon-img" %>
            <p class="action-icon-text">Notify Me</p>
          </div>
        </div>
        <p><%= series.description %></p>
      </div>
      <div class="featured-gradient">
      </div>
    </div>
    <div class="featured-item">
      <% series = @featured.first %>
        <div class="featured-video-container">
          <%= image_tag series.vthumbnail_url, :class => "featured-video "%>
          <%= link_to video_path(series.first_video) do %>
            <%= image_tag "attitudedone.svg", :class => "featured-play-btn" %>
          <% end %>
        </div> 
      <div class="featured-info">
        <h3><%= series.name %>, <%= series.speaker_title %></h3>
        <h1><%= series.title %></h1> 
        <div class="featured-action-icons">
          <%= image_tag "attitudedone.svg", :class => "action-icon" %>
          <%= image_tag "attitudedone.svg", :class => "action-icon" %>
        </div>
        <p><%= series.description %></p>
      </div>
      <div class="featured-gradient">
      </div>
    </div>
    <div class="featured-item">
      <% series = @featured.first %>
        <div class="featured-video-container">
          <%= image_tag series.vthumbnail_url, :class => "featured-video "%>
          <%= link_to video_path(series.first_video) do %>
            <%= image_tag "attitudedone.svg", :class => "featured-play-btn" %>
          <% end %>
        </div> 
      <div class="featured-info">
        <h3><%= series.name %>, <%= series.speaker_title %></h3>
        <h1><%= series.title %></h1> 
        <div class="featured-action-icons">
          <%= image_tag "attitudedone.svg", :class => "action-icon" %>
          <%= image_tag "attitudedone.svg", :class => "action-icon" %>
        </div>
        <p><%= series.description %></p>
      </div>
      <div class="featured-gradient">
      </div>
    </div>
  </div>
  <div class="featured-nav">
    <div class="dot active" data-go-to="0"></div>
    <div class="dot" data-go-to="1"></div>
    <div class="dot" data-go-to="2"></div>
  </div>
</div>

<section class="media-container">
  <% @media.each do |media| %>
    <div class="media-list">
      <h3 class="media-title"><%= media[:title] %></h3>
      <div class="media-thumbnails">
        <% media[:content].each do |content| %>
          <%= link_to media_path(content) do %>
            <div class="media-thumbnail <%= content.class.to_s.downcase %>">
              <% if content.class == Livestream %>
                <div class="media-date">
                  <%= content.formatted_stream_date %>
                </div>
              <% end %>
              <div class="media-info">
                <% if content.class == Livestream %>
                  <div class="notify-button show-notify-modal" data-livestream-id="<%= content.id %>">
                    Notify Me
                  </div>
                <% end %>
                <div class="media-speaker-name">
                  <%= content.speaker_name %>
                </div>
                <div class="media-title">
                  <%= content.thumbnail_title%>
                </div>
              </div>
              <%= image_tag content.vthumbnail.url, :class => "thumbnail-img" %>
              <div class="thumbnail-gradient"></div>
              <div class="thumbnail-description"><p><%= content.description %></p></div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
    <div class="media-list">
      <h3 class="media-title">Courses</h3>
      <div class="media-thumbnails">
        <% @categories.each_with_index do |course, i| %>
          <div class="course-thumbnail <%= @colors[i] %>-b">
          
          <div class="course-name white">
            <%= course %>
          </div>

          </div>
        <% end %>
      </div>
    </div>
</section>
