<div class="featured-banner">
  <div class="featured-infos">
    <% @featured.each do |media| %>
      <div class="featured-info">
        <%= link_to media_path(media) do %>
          <h3><%= media.featured_top_info %></h3>
          <h1><%= media.featured_title %></h1> 
          <h2><%= media.featured_subtitle%></h2>
        <% end %>
        <div class="featured-action-icons">
          <%= link_to '/speakers' do %>
            <div class="action-icon type-icon <%= media.class.to_s.downcase %>" data-width="128">
              <%= image_tag "speaker-white.png", :class => "action-icon-img" %>
              <p class="action-icon-text">Speaker Series</p>
            </div>
          <% end %>
          <div class="action-icon notify-icon show-notify-modal" data-width="93">
            <%= image_tag "notify-black.png", :class => "action-icon-img" %>
            <p class="action-icon-text">Notify Me</p>
          </div>
        </div>
        <%= link_to media_path(media) do %>
          <div class="featured-description">
            <p><%= media.description %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="featured-gradient">
  </div>
  <div class="featured-items">
    <% @featured.each do |media| %>
      <div class="featured-item">
          <div class="featured-video-container">
            <%= image_tag media.vthumbnail_url, :class => "featured-video "%>
          </div> 
           <%= link_to media_path(media), :class => "featured-play-link" do %>
            <div class="featured-play-btn">
              <div class="play-triangle">          
              </div>
            </div>
          <% end %>
      </div>
    <% end %>
  </div>
  <div class="featured-nav">
    <div class="dot active left" data-go-to="0"></div>
    <div class="dot right" data-go-to="1"></div>
    <div class="dot right" data-go-to="2"></div>
  </div>
</div>

<section class="media-container">
  <% @media.each do |media| %>
    <div class="media-list <%= media[:title].downcase.gsub(" ", "-") %>">
      <div class="media-header">
        <% if media[:title] == "Must Watch" %>
          <a>
            <h3><%= media[:title] %></h3> 
            <%= image_tag "triangle.svg" %>
          </a>
        <% else %>
          <%= link_to media_list_path(media[:content]) do %>
            <h3><%= media[:title] %></h3> 
            <%= image_tag "triangle.svg" %>
          <% end %>
        <% end %>
      </div>
      <div class="media-thumbnails">
        <% media[:content].each_with_index do |content, i| %>
          <%= link_to media_path(content), :class => "disabled" do %>
            <div class="media-thumbnail <%= content.class.to_s.downcase %> <%= 'first-in-row' if i == 0 %>">
              <% if content.class == Livestream %>
                <div class="media-date">
                  <%= content.formatted_stream_date %>
                </div>
              <% end %>
              <div class="media-info">
                <div class="media-speaker-name">
                  <%= content.speaker_name %>
                </div>
                <div class="media-title">
                  <%= content.thumbnail_title%>
                </div>
              </div>
              <%= image_tag content.vthumbnail_url(:seriesthumb), :class => "thumbnail-img" %>
              <div class="thumbnail-gradient"></div>
              <div class="thumbnail-overlay-gradient"></div>
              <div class="thumbnail-description"><p><%= content.description %></p></div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
    <div class="media-list">
      <div class="media-header">
        <%= link_to "http://courses.drapertv.com" do %>
          <h3>Courses</h3>
          <%= image_tag "triangle.svg" %>
        <% end %>
      </div>
      <div class="media-thumbnails course-thumbnails">
        <% @categories.each_with_index do |course, i| %>
          <%= link_to "http://courses.drapertv.com/topics/#{course.downcase.gsub(" &", "").gsub(" ", "-")}", data: {"see-more" => "http://courses.drapertv.com"} do %>
            <div class="course-thumbnail">
              <%= image_tag (course.downcase.gsub(" ", "-") + "-thumbnail.png"), :class => "course-thumbnail-img" %>
              <div class="course-overlay <%= @colors[i] %>-b">              
              </div>
              <%= image_tag (course.downcase.gsub(" ", "-") + "-icon.png"), :class => "course-icon default" %>
              <%= image_tag 'see-more.svg', :class => "course-icon see-more" %>
              <div class="course-name white default">
                <%= course %>
              </div>
              <div class="course-name see-more">
                See More
              </div>
              <div class="course-description">
                <h3>
                  <%= course %>
                </h3>
                <% Chapter.chapters_for(course).each do |chapter| %>
                  <li><%= chapter.name.downcase.camelcase %></li>
                <% end %>
              </div>

            </div>
          <% end %>
        <% end %>
      </div>
    </div>
</section>
