<section class="main series-page">
  <div class="scroll-percent-container no-mobile">
    <div class="scroll-grey"></div>
    <div class="scroll-green"></div>
    <div class="scroll-percent"></div>
  </div>
  <div class="section-title">
    <h1 class="<%= @color || "blue" %>"><%= @category ? @category.upcase : "SERIES" %></h1>
    <div class="section-title-menu">
      <%= image_tag 'menu-icon.png' %>
    </div>
  </div>
  <p class="page-description">
    Watch talks given by top Silicon Valley startup founders and executives at Draper University. Each lecture is curated into a series of short videos highlighting important topics our speakers present. 
  </p>
  <div class="categories hide-section">
    <% @categories.each_with_index do |cat , i| %>
      <%= link_to series_index_path(category: cat) do %>
        <h3 class="categories-item <%= @colors[i] %>"><%= cat %></h3>
      <% end %>
    <% end %>
  </div>
  <div class="section-content-list">
    <% @series.each do |media| %>
      <% if media %>
        <%= render partial: "#{media.class.to_s.downcase.pluralize}/show", locals: {media.class.to_s.downcase.to_sym => media} %>
      <% end %>
    <% end %>
  </div>
</section>
