<%= content_for :link_overlay do %>
  <a href="#" class="background-link disabled"></a>
<% end %>
<div class="section-head">
  <div class="overlay">
  </div><div class="gradient">
  </div>
  <div class="horizontal-gradient">
  </div>
  <div class="content">
    <%= image_tag "speaker-white.png", :class => "icon" %>
    <h1>SPEAKER SERIES</h1>
    <p>Watch talks given at Draper University by top Silicon Valley startup founders and executives. Each lecture is curated into a series of short videos highlighting important topics our speakers present.</p>
  </div>
  <div class="image"></div>
</div>

<div class="sort-bar">
  <div class="action-icon expanded teal-item show-notify-modal">
    <%= image_tag "notify-icon.svg", :class => "notify-icon svg" %> 
    <p>Notify Me</p>
  </div>
  <div class="sort-options">
    <div class="sort-label">Sorted By:</div>
    <div class="dropdowns">
      <div class="order-sort sorter">
        <p>Newest</p>
        <%= image_tag "dropdown-triangle.svg", :class => 'open-dropdown' %>
        <%= select_tag :order, options_for_select(['Newest', 'Oldest', 'Speaker A-Z', 'Speaker Z-A', 'Most Viewed']), :class => "order-select" %>
        <ul class="sort-dropdown">
          <li class="current" data-sort-criteria="created_at" data-sort-direction="desc">Newest</li>
          <li data-sort-criteria="created_at" data-sort-direction='asc'>Oldest</li>
          <li data-sort-criteria="slug" data-sort-direction='asc'>Speaker A-Z</li>
          <li data-sort-criteria="slug" data-sort-direction='desc'>Speaker Z-A</li>
          <li data-sort-criteria="view_count" data-sort-direction='desc'>Most Viewed</li>
        </ul>
      </div>
      <div class="industry-sort sorter">
        <p>All Industries</p>
        <%= image_tag "dropdown-triangle.svg", :class => 'open-dropdown' %>
        <%= select_tag :order, options_for_select(["All Industries"] + (1..10).map {|i| "Industry #{i}"}), :class => "industry-select" %>
        <ul class="sort-dropdown">
          <li class="current">All Industries</li>
          <% Category.all.each do |cat| %>
            <li><%= cat.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<section class="media-container index-view">
  <div class="media-list">
    <div class="media-thumbnails wrap lazy-load sortable">
          <!-- Content loaded in with ajax  -->
    </div>
    <div id="load-more" offset="0">
      Show More
    </div>
  </div>
</section>

<script>
  $(document).ready(function() {
    var height = $('footer').height()
    $('.media-container').css('min-height', 'calc(100vh - 130px - ' + height + 'px)')
  })    
</script>