<div class="featured-item header-banner">
  <% series = Series.first %>
  <%=  image_tag "speakers.png", :class => "banner-img"%>
  <div class="featured-gradient">
  </div>
  <div class="banner-content">
    <h3 class="banner-title">SPEAKER SERIES</h3>
    <p class="banner-desc">Watch talks given at Draper University by top Silicon Valley startup founders and executives. Each lecture is curated into a series of short videos highlighting important topics our speakers present.</p>
  </div>
</div>
<div class="sort-bar">
  <div class="notify-button show-notify-modal">
    <%= image_tag "notify-white.png", :class => "notify-icon" %> 
    <p>Notify Me</p>
  </div>
  <div class="sort-options">
    <div>Sorted By:</div>
    <div class="date-sort">Newest</div>
    <div class="industry-sort">All Industries</div>
  </div>
</div>

<section class="media-container index-view">
  <div class="media-list">
    <div class="media-thumbnails wrap">
      <% @series.each do |content| %>
        <%= link_to media_path(content) do %>
          <div class="media-thumbnail">
            <div class="media-info">
              <div class="media-speaker-name">
                <%= content.speaker_name %>
              </div>
              <div class="media-title">
                <%= content.thumbnail_title%>
              </div>
            </div>
            <%= image_tag content.vthumbnail.url(:seriesthumb), :class => "thumbnail-img" %>
            <div class="thumbnail-gradient"></div>
            <div class="thumbnail-description"><p><%= content.description %></p></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
