<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @speaker.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @speaker.email %>
</p>

<p>
  <strong>Profilepic:</strong>
  <%= @speaker.profilepic %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @speaker.bio %>
</p>

<%= link_to 'Edit', edit_speaker_path(@speaker) %> |
<%= link_to 'Back', speakers_path %>
