<footer>
  <div class="footer-main">
    <div class="left">
      <h3>Get DraperTV email updates</h3>
      <p class="hidden submit-confirmation">Thanks! A confirmation email has been sent to your inbox.</p>
      <p class="hide-on-submit">Subscribe to receive email notifications whenever new videos are available.</p>
      <%= form_tag "/notifications", remote: true, :class => "hide-on-submit notifications-form" do %>
        <div class="email-selection">
          <div class="email-option">
            <%= radio_button_tag :notification_option, :all_videos, checked: true %>
            <%= label_tag :all_videos, "All videos" %>
            <div class="check"></div>
          </div>
          <div class="email-option">
            <%= radio_button_tag :notification_option,  :all_livestreams %>
            <%= label_tag :all_livestreams, "Livestream events only" %>
            <div class="check"></div>
          </div>
        </div>
        <%= text_field_tag :email, nil, :class => "footer-email", placeholder: "Email Address" %>
        <%= submit_tag "Submit", :class => "submit-footer-email" %>
      <% end %>


    </div>
    <div class="right">
      <div class="ecosystem">
        <h3>Draper Ecosystem</h3>
         <li>
          <%= link_to "http://www.draperuniversity.com" do %>
            Draper University
          <% end %>
        </li>
        <li> - <%= link_to "Residential Program", "http://www.draperuniversity.com/residential" %></li></li>
        <li> - <%= link_to "Executive Program", "http://www.draperuniversity.com/executive" %></li></li>
        <li class="important">
          <%= link_to "http://www.herocity.com" do %>
              Hero City
          <% end %>
        </li>
        <li>
          <%= link_to "http://www.vcxdu.com" do %>
            VCx
          <% end %>
        </li>
        <li>
          <%= link_to "http://www.draper.vc" do %>
            Draper Associates
          <% end %>
        </li>
        <li>
          <%= link_to "http://www.drapernetwork.com" do %>
           Draper Venture Network
          <% end %>
        </li>
      </div>
      <div class="social-media">
        <h3>Follow DraperTV</h3>
        <li><%= link_to "Youtube", "http://www.youtube.com/drapertv" %></li>
        <li><%= link_to "Facebook", "http://www.facebook.com/draperuniversity" %></li>
        <li><%= link_to "Instagram", "http://www.instagram.com/draperuniversity" %></li>
        <li><%= link_to "Twitter", "http://www.twitter.com/draper_u" %></li>
      </div>
    </div>
  </div>
  <div class="footer-footer">
    <p class="left">All rights reserved, Draper Collective LLC</p> 
    <p class="right">Made with <%= link_to "blood", "https://www.youtube.com/watch?v=QcIy9NiNbmo", :class => "blood", target: "_blank" %>, <%= link_to "sweat", "https://en.wikipedia.org/wiki/Perspiration", :class => "sweat", target: "_blank" %>, and <%= link_to "tears", "https://media.giphy.com/media/l41lXn9ggMEV8Wnte/giphy.gif", :class => "tears", target: "_blank" %> in San Mateo, CA.</p>
  </div>
</footer>
<%= render partial: "notifications/modal" %>