<footer>
  <div class="footer-main">
    <div class="left">
      <h3>Get DraperTV email updates</h3>
      <p class="hidden submit-confirmation">Thanks! A confirmation email has been sent to your inbox.</p>
      <p class="hide-on-submit">Subscribe to receive email notifications whenever new videos are available.</p>
      <%= form_tag "/notifications", remote: true, :class => "hide-on-submit notifications-form" do %>
        <div class="email-selection">
          <div class="email-option">
            <%= check_box_tag :all_videos, true %>
            <%= label_tag :all_videos, "All Videos" %>
            <div class="check"></div>
          </div>
          <div class="email-option">
            <%= check_box_tag :all_livestreams, true %>
            <%= label_tag :all_livestreams, "All Livestreams" %>
            <div class="check"></div>
          </div>
        </div>
        <%= text_field_tag :email, nil, :class => "footer-email", placeholder: "Email Address" %>
        <%= submit_tag "Submit", :class => "submit-footer-email" %>
      <% end %>


    </div>
    <div class="right">
      <div class="ecosystem">
        <h3>Draper Ecosystem</h3>
         <li>
          <%= link_to "http://www.draperuniversity.com" do %>
            Draper University
          <% end %>
        </li>
        <li> - Residential Program</li>
        <li> - Executive Program</li>
        <li class="important">
          <%= link_to "http://www.herocity.com" do %>
              Hero City
          <% end %>
        </li>
        <li>
          <%= link_to "http://www.vcxdu.com" do %>
            VCx
          <% end %>
        </li>
        <li>
          <%= link_to "http://www.draper.vc" do %>
            Draper Associates
          <% end %>
        </li>
        <li>
          <%= link_to "http://www.drapernetwork.com" do %>
           Draper Venture Network
          <% end %>
        </li>
      </div>
      <div class="social-media">
        <h3>Follow Draper Unversity</h3>
        
        <li><%= link_to "Youtube", "http://www.youtube.com/drapertv" %></li>
        <li><%= link_to "Facebook", "http://www.facebook.com/draperuniversity" %></li>
        <li><%= link_to "Instagram", "http://www.instagram.com/draperuniversity" %></li>
        <li><%= link_to "Twitter", "http://www.twitter.com/draper_u" %></li>
        <li><%= link_to "Pinterest", "http://www.youtube.com/drapertv" %></li>
      </div>
    </div>
  </div>
  <p class="footer-footer">All rights reserved, Draper Collective LLC </p>
</footer>
<%= render partial: "notifications/modal" %>

 <li>
    <%= link_to "http://www.draperuniversity.com" do %>
      DRAPER UNIVERSITY
    <% end %>
  </li>
  <li>
    <%= link_to "http://www.herocity.com" do %>
        HERO CITY
    <% end %>
  </li>
  <li>
    <%= link_to "http://www.vcxdu.com" do %>
      VCx
    <% end %>
  </li>
  <li>
    <%= link_to "http://www.draper.vc" do %>
      DRAPER ASSOCIATES
    <% end %>
  </li>
  <li>
    <%= link_to "http://www.drapernetwork.com" do %>
      DRAPER VENTURE NETWORK
    <% end %>
  </li>