<header class="bg-white-only header header-md navbar navbar-fixed-top-xs">
  <div class="navbar-header aside bg-info nav-xs">
    <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
      <i class="icon-list"></i>
    </a>
    <a href="<%= root_path %>" class="navbar-brand text-lt">
      <!--  <i class="icon-fire"></i> -->
      <img src="<%= asset_url('assets/DU_Logo_Flat_White.png') %>" alt="." class="nav-logo">
      <span class="hidden-nav-xs m-l-sm">Draper TV</span>
    </a>
    <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".user">
      <i class="icon-settings"></i>
    </a>
  </div>
  <ul class="nav navbar-nav hidden-xs">
    <li>
      <a href="#nav,.navbar-header" data-toggle="class:nav-xs,nav-xs" class="text-muted" style="padding: 10px;">
        <!-- <i class="fa fa-indent text"></i>
        <i class="fa fa-dedent text-active"></i> -->
        <img src="<%= asset_url('assets/DU_Logo_Gradient_Small.png') %>" alt="." class="nav-logo">
      </a>
    </li>
  </ul>
  <div class="navbar-right ">
    <ul class="nav navbar-nav m-n hidden-xs nav-user user">
      <li class="hidden-xs">
        <a href="#" class="dropdown-toggle lt" data-toggle="dropdown">
          <i class="icon-bell"></i>
          <span class="badge badge-sm up bg-danger count">2</span>
        </a>
        <section class="dropdown-menu aside-xl animated fadeInUp">
          <section class="panel bg-white">
            <div class="panel-heading b-light bg-light">
              <strong>You have
                <span class="count">2</span>
                notifications</strong>
            </div>
            <div class="list-group list-group-alt">
              <a href="#" class="media list-group-item">
                <span class="pull-left thumb-sm">
                  <img src="<%= asset_url('assets/a0.png') %>" alt="..." class="img-circle">
                </span>
                <span class="media-body block m-b-none">
                  Use awesome animate.css<br>
                  <small class="text-muted">10 minutes ago</small>
                </span>
              </a>
              <a href="#" class="media list-group-item">
                <span class="media-body block m-b-none">
                  1.0 initial released<br>
                  <small class="text-muted">1 hour ago</small>
                </span>
              </a>
            </div>
            <div class="panel-footer text-sm">
              <a href="#" class="pull-right"><i class="fa fa-cog"></i></a>
              <a href="#notes" data-toggle="class:show animated fadeInRight">See all the notifications</a>
            </div>
          </section>
        </section>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle bg clear" data-toggle="dropdown">
          <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
            <%= image_tag current_user.avatar_url(:thumb).to_s %>
          </span>
          <%= User.find(current_user.id).name %>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu animated fadeInRight">
          <li>
            <a href="#">
              Account Type:
              <%= User.find(current_user.id).roles.first.name.titleize unless User.find(current_user.id).roles.first.nil? %>
            </a>
          </li>
          <li>
            <span class="arrow top"></span>
            <%= link_to 'Edit account', edit_user_registration_path %>
          </li>
          <li>
            <%= link_to 'Profile', profile_edit_path(current_user) %>
          </li>
          <li>
          <a href="docs.html">Help</a>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</header>
