<header id="landing-header">
  <div class="header-left">
    <div class="header-search no-mobile">
       <li class="header-item <%= 'active' if request.original_url.include?("playlists") %>">
        <%= link_to series_index_path do %>
          SERIES
        <% end %>
      </li>
      <li class="header-item <%= 'active' if request.original_url.include?("livestreams") %>">
        <%= link_to livestreams_path do %>
          LIVESTREAMS
        <% end %>
        <% if !Livestream.today.empty? %>
          <p class="bubble"><%= Livestream.today.length %></p>
        <% end %>   
      </li>
      <li class="header-item">
        <%= link_to "http://courses.drapertv.com" do %>
          COURSES
        <% end %>
        <p class="bubble">
          new
        </p>
      </li>
    </div>    
  </div>
  
  <ul class="header-right">
      <%= form_for Search.new do |f| %>
        <%= f.text_field :terms, :class => "search-input", placeholder: "Search" %>
      <% end %>
    <ul class="nav header-item">
      <%= image_tag "settings.svg", :class => "settings-icon" %>

        <ul class="dropdown-menu">
          <li role="menu"><%= link_to "Sign In", "http://courses.drapertv.com/users/sign_in"  %></li>
        </ul>
    </ul>
  </ul>
</header>

<header class="no-desk">
  <%= image_tag "nav-icon.png", :class => "menu header-item" %>
  <%= link_to root_path do %>
    <%= image_tag "drapertv-logo.png", :class => "logo header-item" %>
  <% end %>
  <%= form_for Search.new do |f| %>
    <%= f.text_field :terms, :class => "search-box header-item hide-section", placeholder: "Search" %>
  <% end %>
  <%= image_tag "search-icon.png", :class => "search header-item" %>
</header>
<div class="menu-menu hide-section">
  <%= link_to root_path do %>
    <h3 class="menu-item">Home</h3>
  <% end %>
  <%= link_to series_index_path do %>
    <h3 class="menu-item">Series</h3>
  <% end %>
  <%= link_to livestreams_path do %>
    <h3 class="menu-item">Livestreams</h3>
  <% end %>
  <%= link_to "https://draperuniversity.com" do %>
    <h3 class="menu-item">Draper University</h3>
  <% end %>
</div>


<script>
  $('img.svg').each(function(){
    var $img = $(this);
    var imgID = $img.attr('id');
    var imgClass = $img.attr('class');
    var imgURL = $img.attr('src');
    $.get(imgURL, function(data) {
        // Get the SVG tag, ignore the rest
        var $svg = $(data).find('svg');
        // Add replaced image's ID to the new SVG
        if(typeof imgID !== 'undefined') {
            $svg = $svg.attr('id', imgID);
        }
        // Add replaced image's classes to the new SVG
        if(typeof imgClass !== 'undefined') {
            $svg = $svg.attr('class', imgClass+' replaced-svg');
        }
        // Remove any invalid XML tags as per http://validator.w3.org
        $svg = $svg.removeAttr('xmlns:a');
        // Replace image with new SVG
        $img.replaceWith($svg);
        $img.show()
    }, 'xml');
  });
</script>
