<!-- Refactor this into two views, one for signed in and one for not signed in -->

<header id="landing-header">

  <div class="mobile-header-left mobile">
    <%= image_tag "menu-icon.svg", :class => "header-icon menu-icon" %>
  </div>

  <div class="header-left">
    <%= link_to root_path do %>
      <%= image_tag 'draper-logo.png', :class => "header-item logo" %>
    <% end %>
  </div>


  <% if !current_user %>
      <div class="header-dropdown mobile no-mobile visitor">
        <div class="visitor-dropdown-item visitor-login">
          Log In
        </div>

        <%= link_to new_user_registration_path, :class => "dropdown-signup" do %>
          <div class="visitor-dropdown-item">
            Sign Up
          </div>
        <% end %>
        <div class="visitor-login">
          <%= form_for(User.new, :as => resource_name, :url => session_path(resource_name), :html => { id: "login-form"}) do |f| %>
            <%= f.email_field :email, :autofocus => true, class: 'login-field login-email', placeholder: "Email" %>
            <%= f.password_field :password, class: 'login-field login-password', placeholder: "Password" %>
            <button type="submit" class="login-btn">Log In</button>
            <%- if devise_mapping.recoverable? %>
              <div id="forgot-password">
                <%= link_to(new_password_path(resource_name)) do %>
                    <p>Forgot password?</p>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% else %>
       <div class="header-dropdown mobile no-mobile logged-in">
        <ul class="dropdown-side">
          <%= link_to playlists_path do %>
            <li class="dropdown-item">
              SERIES
            </li>
          <% end %>
          <%= link_to videos_path do %>
            <li class="dropdown-item">
              VIDEOS
            </li>
          <% end %>
          <%= link_to favorites_path do %>
            <li class="dropdown-item">
              FAVORITES
            </li>
          <% end %>
        </ul>
        <ul class="dropdown-side">
          <%= link_to livestreams_path do %>
            <li class="dropdown-item">
              LIVESTREAMS
            </li>
          <% end %>
          <%= link_to profile_edit_path(current_user) do %>
            <li class="dropdown-item">
              PROFILE
            </li>
          <% end %>
          <%= link_to destroy_user_session_path, :method =>'delete' do %>
            <li class="dropdown-item">
              LOGOUT
            </li>
          <% end %>
        </ul>

      </div>
    <% end %>



  <% if current_user %>

    <div class="header-mid-left no-mobile">
      <%= form_for Search.new do |f| %>
        <%= f.text_field :terms, :class => "search-input", placeholder: "Search" %>
      <% end %>
    </div>

    <ul class="header-mid-right no-mobile">
      <li class="header-item <%= 'active' if request.original_url.include?("playlists") %>">
        <%= link_to playlists_path do %>
          SERIES
        <% end %>
      </li>
      <li class="header-item <%= 'active' if request.original_url.include?("video") %>">
        <%= link_to videos_path do %>
          VIDEOS
        <% end %>
      </li>
      <li class="header-item <%= 'active' if request.original_url.include?("livestreams") %>">
        <%= link_to livestreams_path do %>
          LIVESTREAMS
        <% end %>
      </li>
      <li class="header-item <%= 'active' if request.original_url.include?("favorites") %>">
        <%= link_to favorites_path do %>
          FAVORITES
        <% end %>
      </li>
    </ul>
    <div class="header-right no-mobile">
      <ul class="nav navbar-nav m-n hidden-xs nav-user user">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle bg clear header-item" data-toggle="dropdown" id="header-dropdown">
            <span class="no-mobile"><%= current_user.name %></span>
            <b class="caret no-mobile custom-caret"></b>
            <span class="header-avatar">
              <%= image_tag current_user.avatar_url(:thumb).to_s %>
            </span>
          </a>
          <ul class="dropdown-menu animated fadeInRight hidden">
            <li>
              <span class="arrow top"></span>
              <%= link_to 'Profile', profile_edit_path(current_user) %>
            </li>
            <li>
              <%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% else %>
    <div class="header-right no-mobile">
      <div class="header-item m-xs green-btn sign-up-btn no-mobile">
      <a href="<%= new_user_registration_path %>">Sign Up</a></div>
      <div class="header-item or no-mobile">
        or
      </div>
      <div class="header-item m-xs" id="login">
        <p class="login-modal-trigger">Log In</p>
        <%= render partial: "layouts/login_modal" %>
      </div>
    </div>
  <% end %>
  <div class="mobile mobile-header-right">
    <%= image_tag "search-icon.svg", :class => "header-icon search-icon" %>
  </div>
</header>



<script>
  $('img.svg').each(function(){
    var $img = $(this);
    var imgID = $img.attr('id');
    var imgClass = $img.attr('class');
    var imgURL = $img.attr('src');
    $.get(imgURL, function(data) {
        // Get the SVG tag, ignore the rest
        var $svg = $(data).find('svg');
        // Add replaced image's ID to the new SVG
        if(typeof imgID !== 'undefined') {
            $svg = $svg.attr('id', imgID);
        }
        // Add replaced image's classes to the new SVG
        if(typeof imgClass !== 'undefined') {
            $svg = $svg.attr('class', imgClass+' replaced-svg');
        }
        // Remove any invalid XML tags as per http://validator.w3.org
        $svg = $svg.removeAttr('xmlns:a');
        // Replace image with new SVG
        $img.replaceWith($svg);
        $img.show()
    }, 'xml');
  });
</script>
