<!-- Refactor this into two views, one for signed in and one for not signed in -->

<header id="landing-header">
  <div id="header-content">
    <div class="header-logo">
      <%= link_to root_path do %>
        <%= image_tag 'draper-logo.png', :class => "header-item logo" %>
      <% end %>
    </div>

    <% if current_user %>

      <ul class="header-mid-right no-mobile">
        <li class="header-item <%= 'active' if request.original_url.include?("playlists") %>">
          <%= link_to playlists_path do %>
            SERIES
          <% end %>
        </li>
        <li class="header-item <%= 'active' if request.original_url.include?("livestreams") %>">
          <%= link_to livestreams_path do %>
            LIVESTREAMS
          <% end %>
        </li>
        <li class="header-item">
          <%= link_to "http://www.draperuniversity.com" do %>
            DRAPER UNIVERSITY
          <% end %>
        </li>
      </ul>

      <div class="header-mid-left no-mobile">
        <%= form_for Search.new do |f| %>
          <%= f.text_field :terms, :class => "search-input", placeholder: "Search" %>
        <% end %>
      </div>
    <% else %>
      <div class="header-right no-mobile">
        <div class="header-item m-xs green-btn sign-up-btn no-mobile">
        <a href="<%= new_user_registration_path %>">Sign Up</a></div>
        <div class="header-item or no-mobile">
          or
        </div>
        <div class="header-item m-xs" id="login">
          <p class="login-modal-trigger">Log In</p>
          <%= render partial: "layouts/login_modal" %>
        </div>
      </div>
    <% end %>
  </div>
</header>



<script>
  $('img.svg').each(function(){
    var $img = $(this);
    var imgID = $img.attr('id');
    var imgClass = $img.attr('class');
    var imgURL = $img.attr('src');
    $.get(imgURL, function(data) {
        // Get the SVG tag, ignore the rest
        var $svg = $(data).find('svg');
        // Add replaced image's ID to the new SVG
        if(typeof imgID !== 'undefined') {
            $svg = $svg.attr('id', imgID);
        }
        // Add replaced image's classes to the new SVG
        if(typeof imgClass !== 'undefined') {
            $svg = $svg.attr('class', imgClass+' replaced-svg');
        }
        // Remove any invalid XML tags as per http://validator.w3.org
        $svg = $svg.removeAttr('xmlns:a');
        // Replace image with new SVG
        $img.replaceWith($svg);
        $img.show()
    }, 'xml');
  });
</script>
