<header class="bg-white-only header header-md navbar navbar-fixed-top-xs">
  <div class="navbar-header aside bg-info nav-xs">
    <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
      <i class="icon-list"></i>
    </a>
    <a href="<%= root_path %>" class="navbar-brand text-lt">
      <!--  <i class="icon-fire"></i> -->
      <img src="<%= asset_url('assets/DU_Logo_Flat_White.png') %>" alt="." class="nav-logo">
      <span class="hidden-nav-xs m-l-sm">Draper TV</span>
    </a>
    <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".user">
      <i class="icon-settings"></i>
    </a>
  </div>
  <ul class="nav navbar-nav hidden-xs">
    <li>
      <a href="#nav,.navbar-header" data-toggle="class:nav-xs,nav-xs" class="text-muted" style="padding: 10px;">
        <!-- <i class="fa fa-indent text"></i>
        <i class="fa fa-dedent text-active"></i> -->
        <img src="<%= asset_url('assets/DU_Logo_Gradient_Small.png') %>" alt="." class="nav-logo">
      </a>
    </li>
  </ul>
  <div class="navbar-right ">
    <ul class="nav navbar-nav m-n hidden-xs nav-user user">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle bg clear" data-toggle="dropdown">
          <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
            <%= image_tag current_user.avatar_url(:thumb).to_s %>
          </span>
          <%= User.find(current_user.id).name %>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu animated fadeInRight">
          <li>
            <a href="#">
              Account Type:
              <%= User.find(current_user.id).roles.first.name.titleize unless User.find(current_user.id).roles.first.nil? %>
            </a>
          </li>
          <li>
            <span class="arrow top"></span>
            <%= link_to 'Edit account', edit_user_registration_path %>
          </li>
          <li>
            <%= link_to 'Profile', profile_edit_path(current_user) %>
          </li>
          <li>
          <a href="docs.html">Help</a>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</header>
