<!DOCTYPE html>
<html lang="en" class="app">
  <head>
    <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title><%= @og_title %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Draper TV" %>">
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%# tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,900,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= analytics_init if Rails.env.production? %>
    <%= favicon_link_tag 'favicon.png' %>
    <script type="text/javascript">
      window.heap=window.heap||[],heap.load=function(t,e){window.heap.appid=t,window.heap.config=e;var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+t+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(t){return function(){heap.push([t].concat(Array.prototype.slice.call(arguments,0)))}},p=["clearEventProperties","identify","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      heap.load("1653364008");
    </script>
    <meta property="og:title" content="<%= @og_title %>" />
    <meta property="og:description" content="<%= @og_description %>" />
    <meta property="og:image" content="<%= image_url @og_image %>" />
  </head>
    <body id="mobile-wrapper">
      <header>
      <%= image_tag "menu-icon.svg", :class => "menu header-item" %>
      <%= link_to root_path do %>
        <%= image_tag "draper-logo.png", :class => "logo header-item" %>
      <% end %>
      <%= form_for Search.new do |f| %>
        <%= f.text_field :terms, :class => "search-box header-item hide-section", placeholder: "Search" %>
      <% end %>
      <%= image_tag "search-icon.svg", :class => "search header-item" %>
    </header>
    <div class="menu-menu hide-section">
      <%= link_to root_path do %>
        <h3 class="menu-item">Home</h3>
      <% end %>
      <%= link_to playlists_path do %>
        <h3 class="menu-item">Series</h3>
      <% end %>
      <%= link_to livestreams_path do %>
        <h3 class="menu-item">Livestreams</h3>
      <% end %>
      <%= link_to "https://draperuniversity.com" do %>
        <h3 class="menu-item">Draper University</h3>
      <% end %>
    </div>
      <%= yield %>
      <footer>
        <small>All rights reserved, Draper Collective, LLC.</small>
        <small>Made with <span class="red">blood</span>, <span class="orange">sweat</span>, and <span class="blue">tears</span> in San Mateo, CA (please send help)</small>
      </footer>
    </body>
</html>
